/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * EDITOR STYLESHEET
 *
 * - GLOBALS
 * - TOP TOOLBAR
 * - SIDEBAR
 * - MODALS AND ALERTS
 * - TAGS AND LABELS
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html {
  font-size: 85%;
  letter-spacing: 0.3px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(51, 51, 51, 0.87);
}

/* space out elements that appear after the header in the header tag
 * (eg: 'advanced' and 'beta' tags in the theme editor) */
h3>* {
  margin: 0 10px;
}

.light {
  color: #808080;
}

.sub {
  color: rgba(83, 82, 82, 0.54);
  font-size: .9rem;
  font-style: italic;
  font-weight: normal;
}
.sub.break {
  display: inherit;
  text-align: center;
}

ul, ol {
  margin: 0;
}

img {
  vertical-align: middle;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

.clickable {
  cursor: pointer;
}

.md-headline {
  font-size: 18px;
  line-height: 26px;
}

/* * MEDIA BUTTONS * */
.media-buttons {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 35px;
  background:none;
}

.media-buttons .md-button {
  border-radius: 0px;
  color: rgba(0, 0, 0, .75);
  font-size: 18px;
  margin: 0;
  min-width: 35px;
  padding: 0;
  width: 35px;
}

.media-buttons .divider {
  background-color: #444;
  display: block;
  height: 2px;
  width: 100%;
  margin-bottom: 0;
}

.media-buttons.right {
  right: 0;
}

.media-buttons .md-button.add {
  background-color: #A5D6A7;
}

.media-buttons .md-button.delete {
  background-color: #E57373;
}

.media-buttons .md-button.edit {
  background-color: white;
}

.media-buttons .md-button.download {
  background-color: #2c84de;
}

textarea.editor {
  background: transparent;
  border: none;
  color: transparent;
  height: 1px;
}

.danger {
  background-color: #F2DEDE;
}

.add-options {
  height: 35vh;
  background: #d3d3d3;
  text-align: center;
}

.add-options .flex {
  height: 75%;
  justify-content: center;
  display: flex;
  align-content: center;
}

.add-options div.flex:first-of-type {
  border-right: 3px dashed;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * TOP TOOLBAR
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#header {
  color: rgb(256, 256, 256);
  font-size: 18px;
  height: 48px;
  min-height: 48px;
}

#header a {
  color: #FFF;
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
}

#header .home {
  background-color: #4CAF50;
  display: flex;
}

#header .home .md-button {
  min-width: 48px;
  margin: 0;
}

#header .client,
#header .course {
  height: 48px;
  padding: 0 15px;
  position: relative;
}

#header .client::after,
#header .course::after {
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  content: "";
  height: 0;
  left: 100%;
  position: absolute;
  top: 0;
  width: 0;
}

#header .md-menu md-icon {
  color: rgba(256,256,256,.65);
  cursor: pointer;
  margin-left: 5px;
}

#header .md-menu md-icon:hover {
  color: rgba(256, 256, 256, 1);
}

#header .client {
  background-color: rgb(21,101,192);
  z-index: 1;
}

#header .client::after {
  border-left: 14px solid rgb(21,101,192);
}

#header .course {
  background-color: rgb(33,150,243);
  padding-left: 35px;
}

#header .course::after {
  border-left: 14px solid rgb(33,150,243);
}

#header .header-text {
  margin-left: 35px;
}

#header .controls {
  margin-left: 30px;
}

#header .controls .md-button {
  padding: 0 10px;
}

#header .controls .md-button md-icon {
  border-left: 1px solid;
  margin-right: -5px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * SIDEBAR
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#sidenav {
  background: rgb(66,66,66);
  overflow: hidden;
}

#sidenav ul {
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
}

#sidenav ul#menu li > .md-button,
#sidenav .md-button.course-controls {
  border-radius: 0;
  margin: 0;
  padding: 4px 20px 4px 24px;
  text-align: left;
  text-transform: capitalize;
  width: 100%;
}

#sidenav .md-button.course-controls {
  border-top: 1px solid #D3D3D3;
}

#sidenav .md-button.course-controls:hover,
#sidenav .md-button.course-controls:active {
  background-color: #EEE;
}

#sidenav .md-button .inline-search {
  margin-left: 15px;
  text-align: right;
}

#sidenav .md-button .inline-search input {
  border: none;
  background: transparent;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  padding: 1px 7px;
  width: 0;
  transition: .5s width;
}

#sidenav .md-button .inline-search input.active {
  border: 2px solid #FFF;
  color: #FFF;
  display: inline;
  width: 170px;
}

#sidenav .md-button .inline-search md-icon {
  font-size: 15px;
  line-height: 23px;
  margin-left: -35px;
}

#sidenav .md-button.active {
  background-color: #646464;
}

#sidenav .migration-content {
  background-color: #D3D3D3;
  height: 0;
  overflow: hidden;
  transition: height .7s;
}

#sidenav .migration-content md-content {
  background-color: #D3D3D3;
}

#sidenav li.active .migration-content {
  height: 180px;
}

#sidenav .migration-content p {
  font-size: 10px;
  padding: 0 15px;
  text-align: center;
}

#sidenav .course-controls md-icon {
  color: #2196F3;
}

#sidenav .course_state {
  background: #D3D3D3;
  border: 3px solid #979797;
  border-radius: 10px;
  color: #979797;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  margin: 6px 0;
  text-transform: capitalize;
  width: 125px;
}

#sidenav .course_state md-icon {
  color: #979797;
  font-size: 18px;
  line-height: 22px;
}

#sidenav .course_state.right {
  margin-left: -20px;
}

#sidenav .course_state.active {
  background: #FFF;
  border-color: #555;
  color: #555;
  z-index: 1;
}

#sidenav .course_state.active md-icon {
  color: #555;
}

/* * TOPIC LIST STYLES * */

#sidenav .item {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
}

#sidenav .item md-icon {
  color: #FFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  line-height: 24px;
  min-width: 14px;
  margin: 0;
  width: 14px;
}

#sidenav .item .md-button {
  font-size: 16px;
  height: 24px;
  min-width: 14px;
  margin: 0;
}

#sidenav .item .handle {
  cursor: move;
  margin: 0 6px;
  opacity: 0;
}

#sidenav .item:hover .handle {
  opacity: .9;
}

#sidenav .item .md-button:hover {
  background: transparent !important;
}

#sidenav .item.add .md-button {
  font-size: 12px;
  text-transform: initial;
  width: 100%;
}

#sidenav .group.ui-sortable-helper {
  height: 85% !important;
  width: 90% !important;
}

#sidenav .item {
  background: #E0E0E0;
  height: 36px;
  margin-bottom: 1px;
}

#sidenav .item md-icon {
  color: rgba(0,0,0,0.87);
}

#sidenav .topic-group.ui-sortable-helper .topic-item {
  background: #0076C0;
}

#sidenav .page-group.ui-sortable-helper .page-item {
  background: #B0E5FD;
}

#sidenav .group.ui-sortable-placeholder {
  height: 37px;
}

#sidenav .topic-item .list-title, #sidenav .page-item .list-title, #sidenav .glossary-item .list-title, #sidenav .resource-item .list-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidenav .topic-item {
  background-color: #2196F3;
  color: rgba(256,256,256,.9);
  margin-bottom: 1px;
}

#sidenav .topic-item .md-button {
  color: #FFF;
}

#sidenav .topic-item .md-button md-icon {
  transition: transform .2s;
}

#sidenav .topic-item .md-button.closed md-icon {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

#sidenav .page-list {
  height: 0;
  overflow: hidden;
}

#sidenav .page-list.active {
  height: auto;
}

#sidenav .page-item {
  background-color: #E2F2FF;
  border-bottom: 1px solid #2196F3;
  color: #2196F3;
  margin-bottom: 0;
}

#sidenav .page-item.active {
  background-color: #B1E5FD;
}

#sidenav .page-item .md-button,
#sidenav .page-item md-icon {
  color: #2196F3;
}

#sidenav .page-item span.index {
  margin-right: 30px;
}

#sidenav .theme-item {
  background-color: #FFE082;
  padding-left: 26px;
}

#sidenav .theme-item:hover {
  background-color: #FFD54F;
}

#sidenav .theme-item.active {
  background-color: #FFB300;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * MODALS AND ALERTS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

md-toast {
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 40px;
  overflow: visible;
  padding: 0;
}

md-toast .md-toast-content {
  background-color: rgba(63,63,63,.8) !important;
  border: 2px solid #FFF;
  overflow: visible;
}

md-toast .md-toast-content .md-button,
md-toast .md-toast-content .md-button:hover {
  background-color: rgba(63,63,63,1) !important;
  border: 2px solid #FFF;
  border-radius: 50%;
  font-size: 14px;
  height: 20px;
  line-height: 14px;
  margin: 0;
  min-height: 20px;
  min-width: 20px;
  padding: 0;
  position: relative;
  top: -40px;
  right: -29px;
  width: 20px;
  z-index: 2;
}

md-toast .md-toast-content md-icon {
  min-width: 30px;
  min-height: 30px;
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: #FFF;
}

md-toast .md-toast-content .content {
  margin: 10px 0 10px 20px;
  padding-left: 20px;
  border-left: 2px solid #FFF;
  font-size: 12px;
}

md-toast .md-toast-content .content p {
  font-size: 14px;
  margin-bottom: 5px;
}

md-dialog:not(.material-default), .popup-modal:not(.material-default) {
  background-color: #333 !important;
  border: 2px solid #FFF !important;
  border-radius: 0;
  color: rgba(256, 256, 256, .8) !important;
  max-width: 550px;
  min-width: 550px;
  overflow: hidden;
  padding: 20px;
}

md-dialog.md-default-theme .md-dialog-content h2.md-title {
  color: rgba(256, 256, 256, .8) !important;
}

md-dialog:not(.material-default) p,
.popup-modal:not(.material-default) p {
  font-style: italic;
  margin-bottom: 20px;
}

md-dialog:not(.material-default) md-input-container:not(.md-input-invalid) label {
  color: #FFF !important;
}

md-dialog:not(.material-default) .md-input,
md-dialog:not(.material-default) .md-select-value {
  border-color: #FFF !important;
  color: #FFF !important;
}

md-dialog:not(.material-default) .md-dialog-content {
  padding: 0;
}

md-dialog:not(.material-default) md-dialog-actions {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  padding: 0;
}

md-dialog:not(.material-default) .md-button {
  color: rgba(256, 256, 256, .8) !important;
}

md-dialog.material-default h2{
  color: #fff
}

.popup-modal .controls {
  margin-bottom: 20px;
}

.popup-modal #copy-content {
  border: 0;
  float: right;
  height: 0px;
  position: absolute;
  right: -50px;
  width: 0px;
}


.popup-modal .close {
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.popup-modal p.label {
  margin-bottom: 5px;
}

.popup-modal #qrcode canvas {
  border: 10px solid #FFF;
  height: 100px;
  margin-bottom: 20px;
  width: 100px;
}

.popup-modal .modal-title-copy {
  color:#fff;
}

#myModal.group-list .modal-header .close, #myModal.role-list .modal-header .close {
  display:block;
  margin:0 0 0 auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * $TAGS AND LABELS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

span.beta {
  background-color: #2296F5;
  color: #FFF;
  font-size: .8rem;
  padding: 4px 8px;
  text-transform: uppercase;
}

span.beta:before {
  content: "Beta";
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * $ANALYTICS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.analytics {
	background-color: #FFF;
}

.analytics > .header {
	align-items: center;
	background-color: #EAF3FA;
	min-height: 92px;
	padding: 0 20px;
}

.analytics > .header md-input-container {
	margin: 32px 0 18px;
}

.analytics .stat-group {
	margin-bottom: 50px;
}

.analytics .stat-group h3 {
	border-bottom: 2px solid #DADADA;
	padding-bottom: 5px;
}

.analytics .stat-group div:first-child {
	margin-right: 50px;
}

.analytics .dashboard-group {
	margin-bottom: 20px;
}

.analytics .dashboard-group md-card + md-card {
	margin-left: 20px;
}

.analytics .dashboard-group .header {
	align-items: center;
	margin-bottom: 20px;
}

.analytics small {
	color: #ABABAB;
}

.analytics .main-data {
	padding: 0 30px;
}

.analytics .stat {
	color: #888;
	font-size: 30px;
	margin-right: 50px;
}

.analytics .stat label {
	color: #000;
	font-size: 14px;
	font-weight: bold;
}

.analytics md-card h3 {
	margin: 0;
}

.analytics md-card .md-button {
	font-size: 12px;
}

.analytics .chartContainer {
	display: block;
}

.analytics .table {
	border-bottom: 1px solid #DADADA;
}

.analytics .table .table-row {
	padding: 6px;
}

.analytics .table .table-row.odd {
	background-color: #EFEFEF;
}

.analytics .table .header {
	border-bottom: 1px solid #ABABAB;
	font-weight: bold;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * MAIN CONTENT
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

div#main {
  overflow: auto;
}

md-grid-tile-footer.layout-align-center-center {
  text-align:center;
}

.flex-20.slideshow-entry {
  min-width:150px;
  margin-bottom:1em;
}

.translation-row .flex-20.slideshow-entry {
  max-width:none;
}

.translation-row .layout-column .md-padding.fpo {
  min-height:80px;
}

.translation-row .layout-column .translate-this {
  padding:0;
  top:0;
  left:0;
}

.translation-row .layout-column .md-padding.fpo .translate-this {
  position:relative;
}

.translation-row .layout-column .translate-this button {
  position:relative;
}

.items.module_header {
  width:100%;
}

.items.module_content {
  width:100%;
}

.md-whiteframe-1dp.quest-sort {
  margin-bottom:20px;
}

.module_header.q-subtab button {
  min-width:auto;
}

.courseware-player .app-title {
  width:100%;
}

.courseware-player .preview-content {
  min-height:50px;
  margin-top:4px;
}

.courseware-player .preview-content i.fa-image,.courseware-player .preview-content i.fa-trash-o {
  box-sizing: border-box;
}

.minicolors-grid .minicolors-picker {
  z-index:2;
}
.minicolor-cont.disabled .minicolors-grid {
  pointer-events:none;
}

.fileinput .course-roles {
  overflow-y:scroll;
  width:100%;
  height:100%;
  padding:10px 0 0 10px;
  display:block;
}

.fileinput md-checkbox.role-checkbox .md-container {
  top:10px;
}

.summary-header {
  margin-bottom: -1px;
}

.summary-header .button-container {
  padding: 0 10px 10px 0;
}

.summary-header .button-container.active {
  padding-bottom: 0;
}

.summary-header .button {
  border: 1px solid #CFCFCF;
  margin: 0 10px 10px 0;
}

.summary-header .button-container.active .button {
  border-bottom: 1px solid #FAFAFA;
  margin-bottom: 0;
}

.summary-content {
  border: 1px solid #CFCFCF;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  .clear {
    clear: both;
  }

  .required:after {
    color: #9E0000;
    content: "*";
    font-weight: bold;
    margin-left: 5px;
    font-size: 20px;
  }

  .row.buttons {
    background-color: #FFF;
    padding: 10px 0;
    z-index: 5;
  }


  #dashboard span.badge {
    position: absolute;
    right: 8px;
    top: -8px;
    font-size: 18px;
    cursor: pointer;
  }

  .success {
    -webkit-animation: success_bg 3s;
    animation: success_bg 3s;
  }

  @-webkit-keyframes success_bg {
      0%   {background: #f8f8f8;}
      50%  {background: #dff0d8;}
      100% {background: #f8f8f8;}
  }

  @keyframes success_bg {
      0%   {background: #f8f8f8;}
      50%  {background: #dff0d8;}
      100% {background: #f8f8f8;}
  }


  /* TOPIC PAGE STYLES */

  #topicpage .tab-pane {
    padding-top: 25px;
  }

  #topicpage .buttons.sticky {
    position: fixed;
    top: 51px;
    width: 100%;
  }


  /* Wrappers */

  #wrapper {
	padding-left: 225px;
  }

  #page-wrapper {
    padding: 15px 25px;
  }
  #page-wrapper h1 {
    border-bottom: 1px solid #DADADA;
    padding-bottom: 15px;
  }
  #page-wrapper h1 .fa {
    color: #999;
    margin-right: 10px;
  }
  #page-wrapper p {
    padding-left: 0;
  }


  .media-content, .extra-content {
    display: none;
  }
  .media-content.active, .extra-content.active {
    display: block;
  }

  .interaction .panel-collapse {
    clear: both;
  }

  .interaction .toggle-interaction:before {
    content: "Collapse";
  }

  .interaction .toggle-interaction.collapsed:before {
    content: "Expand";
  }

  div.questiongroup .form-label, div.summarygroup .form-label {
    font-weight: bold;
    text-transform: capitalize;
  }

.translation-row .input-text {
  height:48px;
  box-sizing:border-box;
}

  span.handle:before {
    color: #AAA;
    content: "\f142";
    font-family: FontAwesome;
    font-size: 18px;
    margin: 0 10px 0 0;
    vertical-align: middle;
  }

  span.handle {
    cursor: all-scroll;
  }


  /* * * * * * * * * * * * * * * * * * * * * * * *
   *
   * EDITABLE STYLES
   *
   * * * * * * * * * * * * * * * * * * * * * * * */

  .editable {
    display: inline-block;
    float: left;
    cursor: pointer;
    margin: 0;
    line-height: 34px;
    padding-left: 15px;
  }
  .editable:after {
    content: "\f040";
    font-family: FontAwesome;
    font-size: 12px;
    margin-left: 6px;
    vertical-align: top;
    color: #777;
  }

  /* * * * * * * * * * * * * * * * * * * * * * * *
   *
   * INLINE ELEMENT STYLES
   *
   * * * * * * * * * * * * * * * * * * * * * * * */

  #topicpage div.inline {
    background-color: #D9EDF7;
    border: 1px solid #CCC;
    margin-bottom: 15px;
  }

  #topicpage div.inline.distractor {
    background-color: #F5F5F5;
  }

  #topicpage div.inline .header {
    display: table;
    line-height: 31px;
    border-bottom: 1px solid #CCC;
    padding: 0;
    margin-bottom: 0;
  }

  #topicpage div.inline .header .form-label {
    display: inline-block;
    padding: 0 10px;
  }

  #topicpage div.inline .content {
    padding: 15px 15px 0;
  }

  #topicpage .inline .controls {
    display: inline;
  }

  .btn.inline {
    border-width: 0 0 0 1px;
    border-radius: 0;
    background: transparent;
    border-color: #dddddd;
    color: #333;
    height: auto;
  }

  .btn.inline:hover {
    background-color: #DADADA;
  }

  .btn-media.inline {
    border-width: 0 0 0 1px;
    border-radius: 0;
    background-color: #D9EDF7;
    border-color: #dddddd;
    color: #333;
  }

  .btn-media.inline:hover {
    background-color: #96D1E2;
  }

  .ac-tip {
    margin: 10px 0 30px;
    text-align: left;
    width: 50%;
  }

  .ac-tip label {
    position: relative;
    z-index: 20;
    display: inline-block;
    padding: 15px 15px 15px 15px !important;
    cursor: pointer;
    background: #dadada;
    color: #3e3e3e !important;
    text-decoration: none;
    font-weight: bold;
    width: auto;
    margin: 0px;
    letter-spacing: 1px;
  }

  .ac-tip label:after {
    content: '\f0d7';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin:0px 0px 0px 15px;
    text-decoration:none;
  }
  .cke_contents_rtl .ac-tip label:after {
    content:'';
  }

  .ac-tip input:checked + label{
    background: #f7f7f7;
    color: #3e3e3e;
  }

  .ac-tip input {
    display: none;
  }

  .ac-tip article {
    background: #f7f7f7;
    color: #3e3e3e;
    overflow: hidden;
    position: relative;
    z-index: 10;
    //display: none;
    padding: 15px;
  }
  .cke_contents_rtl .ac-tip article {
    text-align:right;
  }

  .ac-tip article p {
    margin: 0px;
  }

  .ac-tip input:checked ~ article {
    display: block;
  }


  /* * * * * * * * * * * * * * * * * * * * * * * *
   *
   * MODULE CONTROL BUTTONS
   *
   * * * * * * * * * * * * * * * * * * * * * * * */

  #topicpage .input-group button.toggle, #topicpage .input-group button.remove. #courseinfo .input-group button.toggle, #courseinfo .input-group button.remove {
    margin-left: 0 !important;
  }

  #topicpage .controls button.toggle.collapsed:before, #courseinfo .controls button.toggle.collapsed:before {
    content: "\f0d7";
    font-family: FontAwesome;
  }

  #topicpage .controls button.toggle:before, #courseinfo .controls button.toggle:before {
    content: "\f0d8";
    font-family: FontAwesome;
  }


  /* * * * * * * * * * * * * * * * * * * * * * * *
   *
   * TOPIC LIST STYLES
   *
   * * * * * * * * * * * * * * * * * * * * * * * */

   #topic_list .topic_header {
    background-color: #F5F5F5;
    line-height: 31px;
    border-bottom: 1px solid #CCC;
    padding: 0;
    margin-bottom: 0;
  }

  #topic_list .handle {
    padding-left: 5px;
  }

  #topic_list .page_list, #topic_list .topic_edit {
    padding: 10px;
  }

  #topic_list .topic_edit {
    border-bottom: 1px solid #CCC;
    background-color: #EDEDED;
  }

  #topic_list .page_list .topic_item {
    padding: 3px 5px 0 0;
  }

  #topic_list .page_list .topic_item.odd {
    background-color: #E7F2FC;
  }


  .template-page-list {
    cursor: pointer;
    float: left;
    text-align: center;
    margin: 20px 20px 0 0;
    padding: 5px 5px 0 5px;
    border: 1px solid #999;
  }

  .template-page-list.active {
    background: #d9edf7;
  }

  .template-page-list img {
    border: 1px solid #999;
    width: 100%
  }

  .template-page-list p {
    margin: 5px 0;
  }

  #addimage .hidden {
    display:none;
  }

  #upload ul.dropdown-menu li {
    cursor: pointer;
    padding: 2px 10px;
  }

  #upload ul.dropdown-menu li:hover {
    background-color: #d9edf7;
  }

  .well.version {
    color: #999;
    cursor: default;
    display: inline;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 2px 4px;
    text-align: center;
  }

  .center {
    text-align: center;
  }

  button span.text {
    margin-left: 5px;
  }

  .course-list .btn.reorder {
    border-width: 0 1px 0 0;
    border-radius: 0;
  }

  .course-list .handle {
    //padding: 0;
    //background-color: #EEE;
    //width: 40px;
    //cursor: move;
    //border-right: 1px solid #DDD;
  }

  .handle span.fa {
    font-size: 24px;
    line-height: 29px;
    margin: 3px 5px 0;
    color: #AAA;
  }

  .input-group-addon input {
    z-index: -1;
  }

  /* Side Nav */

  .side-nav#main-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: 50px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #222222;
	overflow-y: auto;
  }

  #settings .settings-group {
    margin: 20px 0;
    border-right: 1px solid #DADADA;
    min-height: 350px;
  }

  #settings .settings-group:last-child {
    border: 0;
  }


    /* * * * * * * * * * * * * * * * * * * * * * * *
   *
   * EDITOR MEDIA AREA STYLES
   *
   * * * * * * * * * * * * * * * * * * * * * * * */

  .video-js.editor-vjs-player {
    max-width: 854px;
  }

  .video-js.editor-vjs-player.vjs-fullscreen {
    max-width: 100%;
  }


  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 225px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #999999;
	padding: 15px 15px 15px 25px;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #080808;
  }

  .side-nav>li>a {
	width: 225px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #080808;
  }

  /* Nav Messages */

  .messages-dropdown .dropdown-menu {
	min-width: 300px;
  }

  .messages-dropdown .dropdown-menu li a {
  	white-space: normal;
  }

  .navbar .nav .dropdown-menu {
    z-index: 1050;
  }

}

.info-tooltip {
  position:absolute;
  display:flex;
  align-items:center;
  top:0;
  right:0;
  height:100%;
  min-height:20px;
  padding:0;
  width:auto;
  cursor:pointer;
}

.info-tooltip .info-icon {
  display:inline-block;
  border-radius:50%;
  font-size:11px;
  line-height:14px;
  text-transform:lowercase;
  background-color:rgb(158,158,158);
  box-sizing:border-box;
  color:#fff;
  padding:1px 6px 0 6px;
}

#busy-wrapper {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 3px;
}

#ajax-busy:before,
#ajax-busy:after,
#ajax-busy {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
#ajax-busy {
  margin: 8em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
#ajax-busy:before {
  left: -3.5em;
}
#ajax-busy:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
#ajax-busy:before,
#ajax-busy:after {
  content: '';
  position: absolute;
  top: 0;
}
.popup-hotspot {
  overflow:visible;
}
.popup-hotspot button.md-icon-button {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 20px;
  width: 20px;
  max-height:20px;
  max-width:20px;
  min-height:20px;
  max-height:20px;
  margin: 0;
  padding: 0;
  background-color: rgba(63,63,63,1) !important;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 14px;
  line-height: 14px;
  z-index: 2;
  color:#fff;
}


@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #FFF;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #FFF;
  }
}


/* * * * * * * * * * * * * * * * * * * * * * * *
 *
 * COURSE REPOSITORY STYLES
 *
 * * * * * * * * * * * * * * * * * * * * * * * */

#repository .icon {
  background-image: url('//s3.amazonaws.com/chameleonprod/core/icons/generic.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 75px;
  min-width: 45px;
}
#repository div.upload-progress {
  background-color: rgba(150,150,150,.5);
}
#repository > md-content {
  width: 16rem;
  height: 12rem;
  border-bottom: 1px #D8D8D8 solid;
  border-left: 1px #D8D8D8 solid;
  overflow: hidden;
}
#repository .icon.mp4 {
  background-image: url('//s3.amazonaws.com/chameleonprod/core/icons/media.svg');
  border-color: #FED744;
}
#repository .icon.mp3 {
  background-image: url('//s3.amazonaws.com/chameleonprod/core/icons/media.svg');
  border-color: #FED744;
}
#repository .icon.doc {
  background-image: url('//s3.amazonaws.com/chameleonprod/core/icons/doc.svg');
  border-color: #3C83DC;
}
#repository .icon.html {
  background-image: url('//s3.amazonaws.com/chameleonprod/core/icons/link.svg');
  border-color: #61D9E9;
}
#repository .icon.jpg {
  background-image: url('//s3.amazonaws.com/chameleonprod/core/icons/jpg.svg');
  border-color: #FDB13E;
}
#repository .icon.pdf {
  background-image: url('//s3.amazonaws.com/chameleonprod/core/icons/pdf.svg');
  border-color: #EA3032;
}
#repository .icon.ppt {
  background-image: url('//s3.amazonaws.com/chameleonprod/core/icons/ppt.svg');
  border-color: #FB6344;
}
#repository .icon.txt {
  background-image: url('//s3.amazonaws.com/chameleonprod/core/icons/txt.svg');
  border-color: #8F88B8;
}
#repository .icon.xls {
  background-image: url('//s3.amazonaws.com/chameleonprod/core/icons/xls.svg');
  border-color: #70BC75;
}


/* * * * * * * * * * * * * * * * * * * * * * * *
 *
 * SECTIONS SETTINGS SYYLES
 *
 * * * * * * * * * * * * * * * * * * * * * * * */

.section-settings .layout-column {
	background: transparent;
	overflow: hidden;
	border-right: dotted 3px #dadada;
	padding-right: 35px;
}

.section-settings .layout-column:last-child {
	border-right: none;
}

.section-settings .layout-column md-input-container {
	margin: 10px 0px;
	padding: 0px;
}

.section-settings .layout-column md-switch {
	margin-left: 10px;
}

.section-settings .layout-column .info-tooltip {
	position: relative;
	margin-right: 10px;
}
