body {
  background: #f7f7f7;
  overflow: hidden;
}

*:focus {
  outline: none;
}

.hidden {
  display: none;
}

.logo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button {
  cursor: pointer;
}

.before-after img {
  width: 100%;
}

.module_header {
  background-color: #E9E9E9;
  border-bottom: 1px solid #CCC;
  height: 33px;
  cursor: pointer;
  overflow: hidden;
  padding-right: 0;
  white-space: nowrap;
}

.module_header .number {
  border-right: 1px solid #CCC;
}

.module_header .md-button {
  border-radius: 0;
}

.module_header .md-button md-icon {
  font-size: 14px;
  line-height: 24px;
}

.module_header.sortable.objective {
  height:auto;
  min-height: 33px;
  white-space: normal;
}

.note {
  color: #665;
  font-size: 11px;
}

ul.note {
  padding-left: 15px;
}

.version-select {
  border: 1px solid #DADADA;
  border-radius: 10px;
  cursor: pointer;
}

[data-trigger], [data-dismiss], .media-buttons span {
  cursor: pointer;
  text-align: center;
}

.media-buttons i {
  cursor: pointer;
}

.vjs-default-skin .vjs-big-play-button {
  display: none;
}

.vjs-default-skin .vjs-control-bar {
  display: block;
}

.background {
  background-size: cover;
}

.vjs-volume-control .vjs-volume-bar {
  height:.6em;
}
.vjs-volume-control .vjs-volume-bar .vjs-volume-level {
  height:.6em;
}
.vjs-volume-control .vjs-volume-bar .vjs-volume-handle {
  width:.6em;
  height:.6em;
  top:.1em;
}

span.delete {
  background: #FF8A80;
  padding: 3px 8px;
  position: absolute;
  right: 0;
}

textarea.ta-bind {
  width: 100%;
}

.add-media-list {
  cursor: pointer;
}

.gray {
  background: #F5F5F5;
}

.red {
  background: #ff8a80;
}

.green {
  background: #b9f6ca;
}

.blue {
  background: #82B1FF;
}

.yellow {
  background: #FFE57F;
}

.violet {
  background: #B388FF;
}

.maintenance-toast .md-toast-content {
  height: auto;
}









.toggle-arrow {
  color: #999;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.toggle-arrow.active {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.course-note-button {
  font-size: 20px !important;
  margin-right: 10px;
}

.notes-active {
  color: green;
}

.rightSection {
  overflow: auto;
}



#process-controls {
  border-top: 1px solid #CCC;
}

#process-controls button {
  border-radius: 0;
  margin: 0;
  min-width: 32px;
  width: 32px;

}

 md-whiteframe, md-content.content-main md-card {
  background: #FFF;
}

.client-card {
  max-width: 275px;
  min-width: 275px;
  text-align: center;
}

.client-card md-card {
  cursor: pointer;
  height: 128px;
}

.client-card.add md-content {
  background: transparent;
  margin: 8px;
}

md-content.profile {
  right: -250px;
  overflow: visible;
  width: 295px;
  height: inherit;
}

md-content.profile button {
  position: absolute;
  left: -35px;
  top: -2px;
}

md-content.profile div {
  margin-left: 24px;
}

md-content.profile a {
  color: #555 !important;
  font-size: 12px;
  min-width: 50px;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
  margin-top: 150px;
}

body.reduced #page-wrapper {
  margin-top: 100px;
}

.tab-pane {
  padding: 15px 0 0 3px;
}

/* TAB NAV */
nav .tabs {
  overflow: hidden;
  font-weight: 300;
  font-size: 1.25em;
  text-align: center;
}

nav .tabs ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

nav .tabs ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

nav .tabs a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
  text-decoration: none;
  background-color: #FFF !important;
}

nav .tabs a span {
  vertical-align: middle;
  font-size: 0.75em;
}

nav .tabs a:focus {
  outline: none;
}

nav .tabs ul li.tab-current a:hover {
  color: #FFF !important;
}

nav .tabs ul li:last-child a {
  border: none;
}

/* TAB CONTENT */
.content-wrap {
  position: relative;
}

md-tab-label {
  font-weight: bold;
}

md-switch .md-label {
  border-width: 0;
}

md-whiteframe {
  margin-bottom: 20px;
}

md-whiteframe span.heading {
  padding: 0 15px;
  overflow: hidden;
  white-space: normal;
}

md-content .section-settings {
  background-color: #EEE;
}

md-content .settings-item {
  padding: 0 16px;
}

md-content .settings-item md-icon {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

md-content .settings-item md-checkbox {
  margin: 20px 0;
}

section.content {
  display: none;
  padding: 1em;
  margin: 0 auto;
  float: none;
}

.test-user-modal {
  border-top: 2px solid #DADADA;
  box-shadow: 0 -3px 8px -1px rgba(0,0,0,.2);
  text-align: center;
}

.content-wrap section.content-current {
  display: block;
}

.content-wrap section th {
  cursor: pointer;
  background-color: #8AACCE;
}

/* Icons */
.tabs .icon::before {
  font-family: FontAwesome;
}
.tabs .fa::before {
  margin: 0 10px 0 0;
}

.tabs .fa span {
  font-family: Arial;
}

.vjs-poster {
  background-size: contain;
}

.preview-content {
  position: relative;
  /*max-width: 520px;*/
  margin-bottom: 20px;
}

.preview-content.video,.preview-content.audio {
  max-width: 854px;
}

.preview-content.video .hls-badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 7px;
    background: #f44336;
    z-index: 9;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}


.preview-content.video {
  max-width: 854px;
}

.preview-content.video .hls-badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 7px;
    background: #f44336;
    z-index: 9;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}

.preview-content.before_after {
  position:relative;
  min-height:108px;
}

md-input-container.entry-edge {
  display:block;
}

.media-buttons i, i.fa.button {
  color: #333;
  padding: 10px;
  width: 35px;
}

.media-buttons i:hover {
  color: #000;
}

.media-buttons i.control-header {
  color: #000;
  background-color: #E0E0E0;
}

.media-buttons i.control-header:hover {
  color: #000;
}

.media-buttons i.fa-image, i.fa-plus.button {
  background-color: #A5D6A7;
}

.media-buttons i.fa-image:hover, i.fa-plus.button:hover {
  background-color: #81C784;
}

.media-buttons i.fa-font {
  background-color: #64B5F6;
}

.media-buttons i.fa-font:hover {
  background-color: #42A5F5;
}

.media-buttons i.fa-font.active {
  background-color: #1E88E5;
}

.media-buttons i.fa-trash-o, i.fa-trash-o, i.fa-minus {
  background-color: #E57373;
}

.media-buttons i.fa-trash-o:hover, i.fa-trash-o:hover {
  background-color: #EF5350;
}

.media-buttons i.fa-pencil-square-o, .media-buttons i.fa-video-camera, .media-buttons i.fa-cc, .media-buttons i.fa-microphone {
  background-color: white;
}

.fileupload.resource i.fa-trash-o {
  width:inherit;
  margin-left:6px;
}

/* ELEMENTS */

.preview {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #DADADA;
  float: none;
  height: 127px;
  margin: 0 auto;
  padding: 0;
}

.toggle-label {
  margin-right: 20px;
}

.cke_textarea_inline {
  border-style: solid;
}

md-input-container.pullquote-cont {
  margin:0 0 18px 0;
  padding-top:0;
}

md-input-container.pullquote-cont label {
  position:relative;
}

.md-input-focused .cke_textarea_inline {
  border-width: 2px !important;
  padding: 10px !important;
}


  /* * * * * * * * * * * * * * * * * * * * * * * *
   *
   * MODULE CONTROL BUTTONS
   *
   * * * * * * * * * * * * * * * * * * * * * * * */

  .input-group-btn > .btn + .btn {
    //margin-left: 0;
  }

  .input-group-btn > .btn {
    //margin-right: -4px;
  }

  button.toggle.collapsed:before {
    content: "\f0d7";
    font-family: FontAwesome;
  }

  button.toggle:before {
    content: "\f0d8";
    font-family: FontAwesome;
  }

  .fileinput .form-control {
    overflow: hidden;
  }


  /* * * * * * * * * * * * * * * * * * * * * * * *
   *
   * INLINE ELEMENT STYLES
   *
   * * * * * * * * * * * * * * * * * * * * * * * */

  div.inline.group {
    background-color: #D9EDF7;
    border: 1px solid #CCC;
    margin-bottom: 15px;
  }

  div.inline.group {
    background-color: #F5F5F5;
  }

  div.inline.group .header {
    display: table;
    line-height: 31px;
    border-bottom: 1px solid #CCC;
    padding: 0;
    margin-bottom: 0;
  }

  div.inline.group .header .form-label {
    display: inline-block;
    padding: 0 10px;
  }

  div.inline.group .content {
    margin: 0;
  }

  div.item div.content div.form-group:first-child {
    margin-top: 15px;
  }

  .inline.group .controls {
    //display: inline;
  }

  div.inline.group .controls .btn {
    border-width: 0 0 0 1px;
    border-radius: 0;
    background-color: #f5f5f5;
    border-color: #dddddd;
    color: #333;
    margin-right: 0;
  }

  div.inline.group .controls .btn:hover {
    background-color: #DADADA;
  }

  div.inline.group.media .controls .btn, div.inline.group.media .header, div.inline.group.media .content {
    background-color: #D9EDF7;
  }

  div.inline.group.media .controls .btn:hover {
    background-color: #96D1E2;
  }

  div.panel-heading.download {
    cursor: pointer;
  }

  td.no-hover {
    cursor: default;
  }

  td.no-hover:hover {
    background-color: #f2dede ! important;
  }

  div.custom_fields {
    border: 2px dashed #DADADA;
    margin-top: 20px;
    padding: 15px;
  }

  div.filter {
    background-color: #DADADA;
    height: 35px;
    line-height: 38px;
    padding: 0 20px;
  }

  div.filter md-checkbox {
    margin: 0 20px;
  }

  div.filter md-checkbox.text .md-icon:after,
  div.filter md-checkbox.image .md-icon:after {
    border-color: rgba(0,0,0,.54);
  }

  .topic-marginT {
    margin-top:16px;
  }

  .template-setting-cont {
    align-items:center;
    height:auto;
    padding:10px 20px;
  }
  .template-setting-header {
    line-height:130%;
    padding-right:0;
  }
  .template-setting-overflow {
    overflow:visible;
  }

  .template-desktop {
    width:70%;
    margin-right:8px;
    display:inline-block;
  }

  .template-mobile {
    width:30%;
    display:inline-block;
  }
  .template-desktop .thumb,.template-mobile .thumb {
    width:100%;
  }
  
  div.template-box {
    border: 1px solid #DDD;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px 40px 0;
    min-height: 175px;
    padding: 4px;
    position: relative;
  }

  div.template-box.disable {
    opacity: .2;
  }

  div.template-box.active {
    background-color: #DADADA;
  }

  div.template-box.mobile {
    border:none;
    
    margin-left:8px;
    margin-right:8px;
  }

  div.template-box div.thumb {
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #DADADA;
    min-height: 130px;
    max-height: 130px;
  }

  div.template-box p.key {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
  }

  div.template-box p.name {
    color: #999;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }

  div.template-box div.type {
    border-radius: 50%;
    bottom: -8px;
    left: 50%;
    height: 18px;
    position: absolute;
    width: 18px;
    margin-left: -9px;
  }

  div.template-box div.type.text,
  div.filter md-checkbox.text .md-icon {
    background-color: #77C37B;
  }

  div.template-box div.type.image,
  div.filter md-checkbox.image .md-icon {
    background-color: #FFF135;
  }

  div.template-box div.type.both {
    background: rgb(119,195,123);
    background: -moz-linear-gradient(left, rgba(119,195,123,1) 50%, rgba(255,241,53,1) 50%);
    background: -webkit-linear-gradient(left, rgba(119,195,123,1) 50%,rgba(255,241,53,1) 50%);
    background: linear-gradient(to right, rgba(119,195,123,1) 50%,rgba(255,241,53,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77c37b', endColorstr='#fff135',GradientType=1 );
  }

  div.background-image .gradient-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  #page-carousel button {
    border-radius: 0;
  }

  #page-carousel ol {
    position: static;
    text-align: center;
    margin: 0;
    width: auto;
  }

  #page-carousel ol li {
    margin: 3px;
  }

  .inactive, .upload {
    display: none !important;
  }

  .success {
    -webkit-animation: success_bg 3s;
    animation: success_bg 3s;
  }

  .translation-group,
  .translation-row {
    overflow: hidden;
  }

  .translation-group > :first-child {
    background: #EAEAEA;
    border-bottom: 1px solid #DADADA;
  }

  .translation-group > md-content,
  .translation-row {
    background: #FFF;
  }

  .translation-group .subheading {
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
  }

  .translation-row > :first-child {
    border-right: 1px solid #DADADA;
  }

  .rtl input, .rtl textarea {
    direction: rtl;
    unicode-bidi: embed;
  }

  .language-box {
    font-family: 'Arimo', sans-serif;
    min-width: 300px;
    max-width: 300px;
    min-height: 130px;
    cursor: pointer;
  }

  .language-box h3 {
    margin: 8px 0;
  }

  .language-box md-card-header {
    padding-bottom: 0;
    padding-right: 2px;
  }

  .language-box md-card-footer {
    padding-top: 0;
  }

  .language-box md-progress-circular {
    margin: 11px 20px 0 0;
  }

.switch-minw .md-container:first-child {
  min-width:36px;
}

.correct {
  background-color: #B9F6CA
 !important;
}

.sortable {
  cursor: pointer;
}

.sortable button {
  color: #999;
  margin: 0 0 0 5px;
  min-width: 25px;
}
.sortable .tab-title {
  overflow:hidden;
}

md-grid-tile span {
  top: 0;
}

.audio-btn {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}
.audio-btn:hover {
  color: #FFF;
  text-decoration: none;
}
.audio-btn:focus {
  color: #FFF;
  outline: none;
  text-decoration: none;
}
.audio-btn:after {
  content: '';
  display: inline-block;
  color: #B388FF;
  background: #fff;
  font-family: 'FontAwesome';
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: 8px;
  text-align:center;
  padding:1px 0 0 1px;
  font-size:.92em;
}
.audio-btn.playing:after {
  content: '';
  padding-left:0;
  letter-spacing:.1em;
}

.settings-theme-list, .settings-theme-list md-option {
  text-transform: uppercase;
}

.settings-theme-list .md-select-placeholder {
  text-transform: none;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * THEME EDITOR
 * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.theme .header {
  margin-bottom: 35px;
}

.theme .section {
  border-bottom: 1px solid #CFCFCF;
  padding: 5px 40px;
}

.theme .section:last-child {
  border-bottom: none;
}

.theme .section p.intro {
  margin-bottom: 35px;
}

.theme .sticker {
  border: 1px solid #FFF;
  border-radius: 50px;
  color: #FFF;
  font-size: 12px;
  height: 55px;
  line-height: 55px;
  margin: 8px 4px;
  text-align: center;
  width: 55px;
}

.theme .sticker.free {
  background-color: #673AB7;
}

.theme .sticker.pay {
  background-color: #8BC34A;
}

.theme .md-button.gray {
  background-color: #444;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
}

.theme .md-button[disabled].gray {
  background-color: #E7E7E7;
  color: #FFF !important;
}

.theme .sample-box {
  background-color: #FAFAFA;
  border: 1px solid #D3D3D3;
  margin-top: 10px;
  padding: 15px;
}

.theme .sample-box.clean {
  background-color: transparent;
  border: none;
}

.theme .sample-box .example {
  color: #333;
  font-size: 15px;
  line-height: 21px;
  margin-top: 15px;
}
.theme .sample-box .sample-max {
  max-width:50%;
}

.theme .item {
  font-size: 14px;
  color: #808080;
  font-style: italic;
  line-height: 1.43;
  margin: 0;
}

.theme .item .page-topic-example {
  padding-top:46px;
}

.theme .theme-margin {
  margin-right:28px;
}

.theme .theme-check-margin {
  margin:13px 0 16px 4px;
}

.theme .theme-switch-margin {
  margin:10px 0 0 18px;
}

.theme .theme-auto-cap {
  margin-top:46px;
}

.theme .theme-wrap {
  flex-wrap:wrap;
}

.theme .group {
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 45px;
  margin-bottom: 40px;
}

.theme .group:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.theme .gray-box {
  background-color: #FAFAFA;
  text-align: center;
  margin-bottom: 31px;
}

.theme a.link {
  cursor: pointer;
}

.theme div.spacer {
  display: block;
  height: 57px;
}

.theme select {
  color: #808080;
  font-size: 15px;
  padding: 6px 4px;
  width: 200px;
  margin-bottom: 15px;
}

#alert-modal md-dialog {
  border-radius: 0;
  border: 2px solid #FFF;
  width: 478px;
}

#alert-modal .message {
  background-color: #333;
  color: rgba(255, 255, 255, 0.87);
  font-size: 14px;
}

#alert-modal .message p {
  font-style: italic;
}

.theme .global-ui .preview-dark,
.theme .global-ui .preview-light {
  border: 10px solid #FFF;
  margin: 10px 20px;
  overflow: hidden;
}

.theme .global-ui .preview-dark:not(.active) img,
.theme .global-ui .preview-light:not(.active) img {
  border: 1px solid #DADADA;
}

.theme .global-ui .preview-dark .disabled, .theme .global-ui .preview-light .disabled {
  display: none;
}

.theme .global-ui .preview-dark.active,
.theme .global-ui .preview-light.active {
  border: 10px solid #42BC98;
}


/* LOGO UPLOAD */
.theme .logo-step {
  background-color: #1ABC9C;
  margin-bottom: 20px;
  padding: 18px 16px;
}

.theme .logo-step h4,
.theme .logo-step p {
  color: #FFF;
}

.theme .logo-step .section {
  border: none;
  color: #FFF;
  margin-right: 16px;
  padding: 0;
}

.theme .logo-step .section:last-child {
  margin-right: 0;
}

.theme .logo-step .section p {
  margin-bottom: 6px;
  text-decoration: underline;
}

.theme .logo-step .section.image {
  text-align: center;
}

.theme .logo-step .logo-preview {
  background-color: #FFF;
  color: #808080;
  font-size: 11px;
  font-style: italic;
  height: 129px;
  margin-bottom: 10px;
}

.theme .logo-step md-radio-button .md-off {
  border-color: #FFF !important;
}
.theme .logo-step md-radio-button .md-on {
  background-color: #FFF;
}

.theme .logo-step .fileupload {
  padding-bottom:36px;
}

.theme .logo-step .fileupload .logo-preview {
    width:100%;
    height:auto;
  }
.theme .logo-step .fileupload .gray {
    position:absolute;
    bottom:0px;
    left:50%;
    transform:translate(-50%,0);
  }
}


/* COLOR PICKER */

.color-picker {
  margin-right: 20px;
}

.theme-menu {
  background-color: #F4F4F4;
  width: 182px;
  min-width: 182px;
  max-width: 182px;
}

.theme-menu button {
  color: rgba(0,0,0,.8) !important;
  text-transform: capitalize;
  padding: 8px 30px !important;
  border-radius: 0;
}

.theme .global-ui .theme-toggle {
  height: 93px;
  margin-bottom: 20px;
}

.theme .global-ui .theme-toggle p {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  padding: 0 20px;
  margin: 0;
}


.color-picker .sticker {
  border: 1px solid #DDD;
  border-radius: 50px;
  color: #FFF;
  font-size: 12px;
  height: 55px;
  line-height: 55px;
  margin: 8px 4px;
  text-align: center;
  width: 55px;
}
.color-picker .controls {
  overflow: hidden;
  width: 175px;
  z-index: 2;
}

.color-picker .controls.right {
  margin-left: -175px;
  z-index: 1;
  -webkit-transition: margin .5s;
  transition: margin .5s;
}

.color-picker .controls.right.active {
  margin-left: 5px;
  overflow:visible;
}

.color-picker .controls .display {
  border: 1px solid #D3D3D3;
  height: 153px;
  text-align: center;
  margin: 10px -1px 0 0;
}

.color-picker .controls .display p {
  color: rgba(51, 51, 51, 0.87);
  font-size: 10px;
  line-height: 13px;
  margin: 0;
  padding-left: 44px;
  text-align: left;
  width: 100%;
}

.color-picker .controls .display p label {
  font-weight: bold;
}

.color-picker .controls .buttons {
  border: 1px solid #D3D3D3;
  border-top: 0;
  height: 46px;
}

.color-picker .controls .buttons .edit {
  max-width: 54px;
  min-width: 54px;
  margin: 0;
  width: 54px;
}

.color-picker .controls .buttons .edit.active {
  opacity: 0.33;
}

.color-picker .controls .buttons .clear {
  font-size: 10px;
  width: 100%;
  margin: 0;
}

.color-picker .fields {
  background-color: #EFEFEF;
  font-size: 10px;
  font-weight: bold;
  height: 46px;
  margin-top: -5px;
}

.color-picker .fields div {
  padding: 3px 0px 3px 14px;
}

.color-picker .fields input {
  height: 14px;
  margin: 0 0 3px 3px;
}

.color-picker .fields input.hex {
  width: 86px;
}

.color-picker .fields .rgb {
  width: 24px;
}

.color-picker .fields .md-button {
  font-size: 10px;
  max-width: 34px;
  min-width: 34px;
  width: 34px;
  margin: 0;
}

.color-picker .color-picker.saturation .controls.right.active,
.color-picker .color-picker.brightness .controls.right.active {
  margin-left: -152px;
}

.color-picker .color-picker.saturation .fields,
.color-picker .color-picker.brightness .fields {
  display: none;
}

.color-picker .color-picker.brightness,
.color-picker .color-picker.saturation {
  margin-right: 30px;
  position: relative;
}

.color-picker .color-picker.brightness .swatch,
.color-picker .color-picker.saturation .swatch {
  width: 44px;
  height: 44px;
}

.color-picker .color-picker.saturation .controls.right {
  position: absolute;
  top: 0;
  right: 0;
}

.color-picker .color-picker.saturation .controls.right.active {
  margin-right: -23px;
}




.theme .type .section .group p {
  margin-top: 25px;
}

.theme .type .section .group .google {
  color: #808080;
  font-size: 37px;
  height: 41px;
  line-height: 37px;
}

.theme .type .section .group input {
  color: #DAD8D8;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  padding: 3px 10px;
  width: 225px;
  margin-bottom: 15px;
}

.theme .type .section .group .md-button {
  display: block;
  text-transform: capitalize;
  padding: 5px 30px;
}

.theme .type .type_elements {
  padding: 6px 3px;
  width: 340px;
}



.theme .type .section md-slider-container {
  margin-bottom: 50px;
}

.theme .type .section md-slider-container span {
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-family: Garamond;
  font-weight: bold;
}

.theme .type .section md-slider-container span.large {
  font-size: 40px;
}

.theme .type .section p.label {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 11px 0;
  text-align: center;
}

.theme .type .section .gray-box .font-preview {
  background-color: #FFF;
  border: 1px solid #DAD8D8;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  padding: 30px;
}

.theme .type .section .sizing {
  margin-bottom: 20px;
  overflow: hidden;
}

.theme .type .section .sizing .example-container {
  background-color: #FAFAFA;
  border: 1px solid #1ABC9C;
  padding: 10px 13px;
  position: relative;
}

.theme .type .section .sizing .example-container.adjusted {
  border-color: #E7E7E7;
}

.theme .type .section .sizing .example-container .example {
  color: #333;
  margin: 0;
  position: absolute;
  left: 13px;
  top: 0;
  padding-top: 35px;
  white-space: nowrap;
  right: 13px;
  overflow: hidden;
  height: 100%;
}

.theme .type .controls {
  width: 270px;
}

.theme .type .section .sizing .controls {
  background-color: #1ABC9C;
  border: 1px solid #1ABC9C;
  padding: 25px 15px;
}

.theme .type .section .sizing .controls.adjusted {
  background-color: #E2E2E2;
  border-color: #D1D1D1;
}

.theme .type .size-display {
  width: 37px;
  margin-right: 8px;
}

.theme .type .size-display input {
  background-color: #FFF;
  height: 43px;
  width: 37px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 11px;
  box-sizing:border-box;
}

.theme .type .size-display span {
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  display: block;
  margin-top: -18px;
  text-align: center;
}

.theme .type .md-button {
  font-size: 16px;
  min-width: 33px;
  max-height: 43px;
  min-height: 43px;
  margin: 0 8px 0 0;
  text-transform: lowercase;
}

.theme .type .md-button.clear {
  font-size: 12px;
  margin-right: 0;
}

.theme span.topic-title {
  display: block;
  margin: 20px 0 8px;
}

.theme h2.underline {
  border-bottom: 6px solid #E7E7E7;
  color: #333;
  padding-bottom: 5px;
  margin-top: 0;
}


.theme .type .type-styles {
  height: auto;
  padding: 25px 30px;
}

.theme .type .text-example {
  background-color: #FFF;
  border: 1px solid #DAD8D8;
  color: #333;
  font-size: 16px;
  line-height: 38px;
  margin: 0 50px 37px 0;
  height: 300px;
  padding: 25px 30px;
  overflow: hidden;
}

.theme .type .font-controls {
  margin-top: 26px;
}

.theme .type .font-controls .controls {
  margin-bottom: 15px;
}



.theme .elements .button {
  font-family: 'PT Sans', Helvetica, Arial;
  line-height: 44px;
  font-size: 12px;
  width: 109px;
  height: 44px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0 12px 32px 0;
}

.theme .elements .button.light {
  border: 1px solid #4A4A4A;
  color: #4A4A4A;
}

.theme .elements .button.dark {
  background-color: #4A4A4A;
  color: #FFF;
}

.theme .slideshow-container {
  margin: 30px 0;
}

.theme .avatar-slideshow {
  overflow: hidden;
  white-space: nowrap;
  img {
    width:90px;
    height:90px;
  }
}

.theme .avatar-slideshow .owl-stage-outer {
  width: 1px;
}

.theme .owl-item {
  display: inline-block;
}

.theme .navigation.left .owl-next,
.theme .navigation.right .owl-prev {
  display: none;
}

.theme .navigation md-button {
  cursor: pointer;
  font-size: 40px;
}

.theme .avatar-slideshow .owl-item img {
  height: 90px;
  width: 90px;
}

.theme .googleFonts md-autocomplete {
  margin-bottom: 15px;
  background:none;
}

.theme .googleFonts md-autocomplete-wrap {
  box-shadow: none;
  width: 225px;
  border: 1px solid #eee;
  height: 42px;
}

.theme .googleFonts input, .theme .adobe input {
    color: #808080!important;
    background: #fff;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    padding: 3px 10px;
    width: 225px;
    margin-bottom: 15px;
}

.theme .customcustom {
  margin: 0 0 25px 2px;
}

.theme .type .section .group .customcustom .md-button {
  margin-left: 10px;
  padding: 0;
  min-height: 34px;
}

.theme .type .section .group .customcustom select {
  margin-bottom: 0;
}

.theme .type .section .group .customcustom input {
  color: rgba(0, 0, 0, .75);
  font-size: 15px;
  padding: 5px 6px;
  margin: 0 0 0 5px;
}

.theme .type .section .group .customcustom input:first-child {
  margin-left: 0;
}

.theme .type .section .group .customcustom .custom-row {
  padding-top: 0;
}


/*
 * ROLE BASED NAVIGATION STYLES
 */
.theme .teal {
  background-color: #1ABC9C;
}

.theme .teal p {
  color: #FFF;
}

.theme md-input-container input,
.theme md-input-container label {
  border-bottom-color: #FFF !important;
  color: #FFF !important;
}

.theme .add-role-box p {
  text-align: center;
}

.theme .add-role-box {
  color: #FFF;
  margin-left: 30px;
}

.theme .add-role-box md-checkbox {
  margin: 0 auto 10px;
}

.theme .add-role-box .md-button.gray {
  display: inline-block;
  width: 100px;
  margin: 0 auto;
}

.theme .add-role-box input,
.theme .add-role-box textarea {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
  margin-bottom: 15px;
}

.theme .course-pages {
  color: #808080;
}

.theme .course-pages label {
  color: rgba(51, 51, 51, 0.87);
  margin-top: 30px;
}

.theme .course-pages md-autocomplete {
  min-width: 350px;
}

.theme .course-pages md-autocomplete input {
  font-style: italic;
}

.theme .course-pages md-chips-wrap {
  border: 1px inset;
  padding: 0 10px 8px 3px;
}

.theme .course-pages md-chip {
  background-color: #1ABC9C;
  color: #FFF;
  font-size: 14px;
}

.theme .course-pages .droppable {
  margin-bottom: 8px;
}

.theme .course-pages .droppable.hovered {
  border: 2px inset;
}

.theme .course-pages md-chip .md-chip-content {
  margin-right: 6px;
}
.theme .course-pages .md-chips.md-removable md-chip {
  padding-right:36px;
}
.theme .course-pages .md-chips.md-removable md-chip .md-chip-content {
  padding-right:0;
}

.theme .course-pages md-chip .md-chip-remove-container {
  border-left: 1px solid #FFF;
  z-index: 2;
}

.theme .course-pages md-chip .md-chip-remove-container md-icon {
  color: #FFF;
}

.theme md-sidenav.role-list {
  background-color: #F4F4F4;
  overflow: auto;
  text-align: center;
  max-width: 200px;
}

.theme .no-roles {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  color: #FFF;
}

.theme md-sidenav.role-list .md-button.new-tag {
  color: #1ABC9C;
  border-radius: 20px;
  padding: 0 15px;
  min-height: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 10px;
}

.theme .roles .role-chip {
  border-radius: 20px;
  color: #FFF;
  cursor: move;
  margin: 10px 0;
}

.theme .roles .role-chip p {
  line-height: 25px;
  margin: 0;
  padding: 3px 12px;
  text-align: left;
}

.theme .roles .role-chip .md-button {
  font-size: 18px;
  margin: 0;
  min-width: 0;
  min-height: 0;
  line-height: 30px;
  border-left: 1px solid #FFF;
  border-radius: 0 16px 16px 0;
  z-index: 2;
}

.md-autocomplete-suggestions li {
  border-bottom: 1px solid rgba(0,0,0,.2);
}




/* STYLES FOR COURSEWARE PLAYER */

.courseware-player md-sidenav {
  width: 220px;
}

.courseware-player md-sidenav ul {
  padding: 0;
}

.courseware-player md-sidenav ul li button {
  margin: 0 !important;
  padding: 10px 10px 10px 30px !important;
  width: 100%;
  text-align: left !important;
}

.courseware-player md-sidenav ul li button.active {
  background-color: #DADADA;
}

table.material th,
table.material td {
  border-bottom: 1px solid #DADADA;
  padding: 20px 50px 20px 0;
}

table.material th {
  border-width: 2px;
}

table.course-order input {
  width: 50px;
}

.minicolors-panel {
  z-index: 10;
}

input.opacity {
  margin-left: 10px;
  text-align: center;
}

.hotspotPickerGroup {
  position: relative;
}

.hotspotPickerGroup #hotspotPreview img {
  width: 100%;
}

.hotspotPickerGroup .hotspot {
  position: absolute;
  border: 1px solid #FFF;
  background-color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform:translate(-50%,-50%);
}

  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @-webkit-keyframes success_bg {
      0%   {background: #f8f8f8;}
      50%  {background: #dff0d8;}
      100% {background: #f8f8f8;}
  }

  @keyframes success_bg {
      0%   {background: #f8f8f8;}
      50%  {background: #dff0d8;}
      100% {background: #f8f8f8;}
  }

.embedIcon {
	height: 32px;
	margin-right: 10px;
	-webkit-transition: .1s linear;
}

.embedIcon.disabled {
	filter: grayscale(100%) opacity(50%);
	height: 24px;
	margin: 4px 10px 4px 0;
	-webkit-transition: .1s linear;
}

#common-terms a {
	cursor: pointer;
}
#common-terms span.selected, #common-terms a.selected {
	font-weight: bold;
}

.user-upload md-input-container {
  margin:0;
  padding:0;
}