* { box-sizing: border-box; }

img { vertical-align: middle; }

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: url('../img/office.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 14px;
	height: 100%;
	line-height: 1.428571429;
	margin: 0px;
	overflow: hidden;
	width: 100%;
}

form {
	background: rgba(256,256,256,.9);
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	min-height: 430px;
	margin: 5em auto;
	padding: 40px 30px 30px;
	position: relative;
	text-align: center;
	width: 350px;
}

img.header {
	margin-bottom: 25px;
}

img.bi-logo {
	width: 108px;
	margin-bottom: 20px;
}

label {
	color: #999;
	display: inline-block;
	font-size: 11px;
	font-weight: normal !important;
	letter-spacing: 1px;
	margin-bottom: 2px !important;
	margin-left: 15px;
	text-align: left;
	width: 100%;
}

input {
	border: 1px solid #CCC;
	font-size: 12px !important;
	padding: 6px 7px 4px;
	width: 90%;
	transition: width .1s;
}

input:focus {
	border-color: transparent;
	box-shadow: 0 0 15px 2px #999;
	outline: none;
	width: 92%
}

/* Button */

.button {
	background: #357BDA;
	border: transparent;
	color: rgba(256, 256, 256, .9);
	font-size: 13px;
	line-height: 35px;
	margin: 25px 0;
	outline: none;
	position: relative;
	width: 90%;
}

.button:hover {
	background: #2E69B9;
}

/* Button animation */

.button .ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

/* Help Button */

.help {
	bottom: 7px;
	color: #BBB;
	cursor: pointer;
	font-size: 20px !important;
	position: absolute;
	right: 10px;
}

.help-content {
	color: #636363;
	display: none;
}

.help-content p {
	font-size: 12px;
	margin: 0 auto 20px;
	text-align: left;
	width: 91%;
}

.clobber-previous-session-prompt {
	display: none;
}

.clobber-previous-session-prompt input[type=button] {
	margin-top:0;
}

.clobber-previous-session-prompt #cancel {
	margin-bottom:0;
}

.clobber-previous-session-prompt .warning {
	color: red;
}

.error {
	background-color: #F2DEDE;
	border: 2px solid #EED3D7;
	color: #B94A48;
	font-size: 12px;
	margin: 0 auto 20px;
	padding: 20px;
	text-align: left;
	width: 90%;
}
