<div flex layout-padding>
	<add-radio ng-if="!hideNonTranslatable" ng-model="ngModel.type" data-label="Select Background Type" radio-list="backgroundOptions"></add-radio>
	<div flex layout="row">
		<div flex ng-if="ngModel.type == 'color'">
			<add-colorpicker ng-model="ngModel.src" data-label="Background Color" picker-settings="pickerSettings" editable="{{editable}}"></add-colorpicker>
			<add-switch ng-model="ngModel.reverseText" data-label="Invert Text" editable="{{editable}}"></add-switch>
		</div>
		<div flex ng-if="ngModel.type == 'image'" class="background-image">
			<div layout="row" layout-margin>
				<media-slot flex = "50"
					expanded = 1
					label = 'Background Image'
					slot-index = 0
					init-function = ''
					remove-function = ''
					media-type-json = '{"image":"Image"}'
					disable-decorations = 1
					editable = "editable"
					hide-non-translatable = "hideNonTranslatable"
					media = "backgroundMedia"
					internal-flex = "100"
					misc-options = '{hideCaption: true}'
					translation = "translation"
				></media-slot>
				<div flex="50" layout="column" class="md-padding md-whiteframe-z1">
					<div layout="row">
          	<md-checkbox ng-if="!hideNonTranslatable" flex style="margin-bottom: 0;" ng-model="_temp.show_gradient_controls" ng-change="showGradientWarning($event)" aria-label="Add Gradient Overlay">Add Gradient Overlay</md-checkbox>
          	<md-icon ng-if="_temp.show_gradient_controls" style="cursor:pointer;" class="material-icons" ng-click="togglePreview($event)">{{_temp.preview_icon}}</md-icon>
          </div>
					<div ng-if="_temp.show_gradient_controls && editable" flex="50">
						<theme-color-picker style="margin-bottom: 20px;"
							picker-label="Gradient Overlay Color"
							picker-hex="ngModel.gradient.color"
							picker-control="hue">
						</theme-color-picker>
						<label>Start Opacity</label>
						<div layout>
							<md-slider flex min="0.0" max="1.0" step=".1" ng-model="ngModel.gradient.startOpacity" aria-label="start opacity" id="start-opacity"></md-slider>
				      <div flex="15" layout layout-align="center center">
				        <input flex class="opacity" type="number" ng-model="ngModel.gradient.startOpacity" aria-label="start opacity" aria-controls="start-opacity">
				      </div>
				    </div>
						<label>End Opacity</label>
						<div layout>
							<md-slider flex min="0.0" max="1.0" step=".1" ng-model="ngModel.gradient.endOpacity" aria-label="end opacity" aria-controls="end-opacity"></md-slider>
				      <div flex="15" layout layout-align="center center">
				        <input flex class="opacity" type="number" ng-model="ngModel.gradient.endOpacity" aria-label="end opacity" aria-controls="end-opacity">
				      </div>
				    </div>

							<md-switch ng-model="ngModel.gradient.direction" aria-label="Gradient Direction" ng-true-value="'vertical'" ng-false-value="'horizontal'">Gradient Direction: {{ngModel.gradient.direction | capitalize}}</md-switch>

					</div>
				</div>
				<div class="gradient-preview hidden" style="
background: -moz-linear-gradient({{_temp.alignment}},  rgba({{_temp.color}},{{ngModel.gradient.startOpacity}}) 0%, rgba({{_temp.color}},{{ngModel.gradient.endOpacity}}) 100%);
background: -webkit-linear-gradient({{_temp.alignment}},  rgba({{_temp.color}},{{ngModel.gradient.startOpacity}}) 0%,rgba({{_temp.color}},{{ngModel.gradient.endOpacity}}) 100%);
background: linear-gradient({{_temp.alignment2}},  rgba({{_temp.color}},{{ngModel.gradient.startOpacity}}) 0%,rgba({{_temp.color}},{{ngModel.gradient.endOpacity}}) 100%);;
"></div>
			</div>
			<div layout="row" ng-if="!hideNonTranslatable">
				<add-switch ng-model="ngModel.repeat" data-label="Repeat Background"></add-switch>
				<add-switch ng-model="ngModel.animate" data-label="Background Animation" style="padding:0 16px;"></add-switch>
				<add-switch ng-model="ngModel.reverseText" data-label="Invert Text"></add-switch>
			</div>
		</div>
		<div flex ng-if="ngModel.type == 'video'">
			<media-slot flex = "100"
				expanded = 1
				label = 'Background Video'
				slot-index = 0
				init-function = ''
				remove-function = ''
				media-type-json = '{"video":"Video"}'
				disable-decorations = 1
				editable = "editable"
				hide-non-translatable = "hideNonTranslatable"
				media = "backgroundMedia"
				internal-flex = "100"
				misc-options = '{hidePosterImageUpload: false, hideCaption: true, hidePopupToggle: true, hls: false, audioTrack: false}'
				translation = "translation"
			></media-slot>
			<div ng-if="!hideNonTranslatable" layout="row">
				<add-switch ng-model="ngModel.reverseText" data-label="Invert Text" flex="50"></add-switch>
				<add-switch ng-model="ngModel.loop" data-label="Loop" flex="50"></add-switch>
			</div>
		</div>
	</div>
</div>