<md-content layout="column" layout-padding>
	<label ng-if="label">{{label}}</label>
	<div layout="row" layout-padding>
		<div flex>
			<div layout="column">
				<md-input-container flex>
					<label>Title</label>
					<input flex type="text" ng-model="ngModel.title" aria-label="Title" ng-disabled="{{disableFields}}" />
				</md-input-container>
				<add-textarea flex ng-model="ngModel.text" disabled="{{disableFields}}"></add-textarea>
			</div>
		</div>
		<add-media-controls flex
			ng-if="hideMedia"
			ng-if="disableFields"
			existing-media-item-list = "ngModel.media"
			template-settings        = "template_settings"
			disable-add              = "false"
			disable-decorations      = "false"
			expand-all               = "true"
			hide-non-translatable    = "false"
			editable                 = "!disableFields"
		></add-media-controls>
	</div>
</md-content>