<md-content layout="row" layout-fill class="md-whiteframe-z1 theme">
		<md-sidenav class="md-sidenav-left sidenav-main md-whiteframe-z1 theme-menu" md-component-id="theme" md-is-locked-open="true">
			<ul>
				<li><button ng-class="{'active' : theme_section == 'ui'}" ui-sref="theme.ui" class="md-button md-default-theme">Global UI</button></li>
				<li><button ng-class="{'active' : theme_section == 'color'}" ui-sref="theme.color" class="md-button md-default-theme">Brand Color</button></li>
				<li><button ng-class="{'active' : theme_section == 'type'}" ui-sref="theme.type" class="md-button md-default-theme">Type</button></li>
				<li><button ng-class="{'active' : theme_section == 'assets'}" ui-sref="theme.assets" class="md-button md-default-theme">Brand Assets</button></li>
				<li><button ng-class="{'active' : theme_section == 'elements'}" ui-sref="theme.elements" class="md-button md-default-theme">Elements</button></li>
			</ul>
		</md-sidenav>

		<div flex ui-view></div>
</md-content>