<md-content flex layout="column" class="md-whiteframe-z2 md-padding md-margin" ng-controller="clientTheme">

	<div layout="row" style="margin-bottom: 20px;">
	  <md-input-container>
	    <label>Search Themes:</label>
	    <md-icon class="material-icons" aria-label="search">search</md-icon>
	    <input ng-model="q" aria-label="search">
	  </md-input-container>
  	<md-button class="md-raised md-primary" ng-click="addTheme($event)" style="height: 40px; width: 120px;">Add Theme</md-button>
  </div>

  <table class="table table-bordered table-hover" ng-if="theme_list">
    <thead>
      <tr style="cursor: pointer;">
        <th ng-click="list.predicate = 'theme_title'; list.reverse = !list.reverse">Title</th>
        <th>Default</th>
      </tr>
  	</thead>
    <tbody>
      <tr ng-repeat="item in theme_list | orderBy:list.predicate:list.reverse | filter:q" style="cursor: pointer;">
      	<td ng-click="$state.go('theme/:id/ui')">item.name</td>
        <td class="center" style="padding: 0;">

      	</td>
      </tr>
  	</tbody>
	</table>

</md-content>
