<md-content layout-margin class="md-padding assets">
	<div flex="50" class="header">
		<h1>Brand Assets</h1>
		<p>Items that may appear multiple times within multiple courses, that aren’t related directly to page content.</p>
	</div>
</md-content>

<md-content class="section">
	<div layout="row">
		<h3 flex>Logos</h3>
	</div>
	<md-content>
		<p flex="50" class="intro">For optimal aesthetics use logos with transparent backgrounds (PNG-24). File dimensions should be near 1280 x 720 (or with a similar aspect ratio).</p>
		<div class="logo-step" layout="column">
			<h4>Step 1 - Upload Logo</h4>
			<div layout="row">
				<div flex class="section image" layout="column" layout-align="start center">
					<p>Logo 1</p>
					<div class="logo-preview" layout="column" layout-align="center center">recommended 1280x720 pngs</div>
					<md-button class="gray">Upload</md-button>
				</div>
				<div flex class="section image" layout="column" layout-align="start center">
					<p>Optional Logo 2</p>
					<div class="logo-preview" layout="column" layout-align="center center">recommended 1280x720 pngs</div>
					<md-button class="gray">Upload</md-button>
				</div>
				<div flex class="section image" layout="column" layout-align="start center">
					<p>Optional Reversed Logo 1</p>
					<div class="logo-preview" layout="column" layout-align="center center">recommended 1280x720 pngs</div>
					<md-button class="gray">Upload</md-button>
				</div>
				<div flex class="section image" layout="column" layout-align="start center">
					<p>Optional Reversed Logo 2</p>
					<div class="logo-preview" layout="column" layout-align="center center">recommended 1280x720 pngs</div>
					<md-button class="gray">Upload</md-button>
				</div>
			</div>
		</div>
		<div class="logo-step">
			<h4>Step 2 - Select Logo Location</h4>
			<div layout="row">
				<div flex class="section select">
					<p>Loading Page</p>
					<md-radio-group ng-model="">
			      <md-radio-button ng-repeat="item in logo_options" value="{{item}}" class="md-primary">{{item}}</md-radio-button>
			    </md-radio-group>
				</div>
				<div flex class="section select">
					<p>Home Page</p>
					<md-radio-group ng-model="">
			      <md-radio-button ng-repeat="item in logo_options" value="{{item}}" class="md-primary">{{item}}</md-radio-button>
			    </md-radio-group>
				</div>
				<div flex class="section select">
					<p>Topic Menu</p>
					<md-radio-group ng-model="">
			      <md-radio-button ng-repeat="item in logo_options" value="{{item}}" class="md-primary">{{item}}</md-radio-button>
			    </md-radio-group>
				</div>
				<div flex class="section select"></div>
			</div>
		</div>
	</md-content>
</md-content>

<md-content class="section">
	<div layout="row">
		<h3 flex>Icons <span>(advanced)</span></h3>
		<!--md-switch ng-model="show_icons"></md-switch-->
	</div>
	<md-content ng-show="show_icons">
		<p flex="50" class="intro"></p>
	</md-content>
</md-content>

<md-content class="section">
	<div layout="row">
		<h3 flex>Avatars <span>(advanced)</span></h3>
		<md-switch ng-model="show_avatars"></md-switch>
	</div>
	<md-content ng-show="show_avatars">
		<p flex="50" class="intro">Select a set of avatars (icons that represent the players) if your courses will have either of the games Peril or Escape.</p>
		<md-content flex class="md-padding md-whiteframe-z1 gray-box">
			<select></select>
			<div class="slideshow">avatar slideshow</div>
		</md-content>
	</md-content>
</md-content>