<md-content layout-margin class="md-padding global-ui">
	<div flex="50" class="header">
		<h2>Global UI</h2>
		<p>Customize the UI (user interface) of your course using a Dark or Light setting. The UI setting affects the navigation bar and secondary pages like the Loading Page, Menu, Resources, Glossary, and Language Selection.</p>
	</div>
	<div class="theme-toggle md-whiteframe-z1" layout="row" layout-align="center center">
		<p style="margin-top: 36px;">Dark UI <span>(Default)</span></p>
		<md-switch aria-label="UI Theme"></md-switch>
		<p>Light UI</p>
	</div>
	<div layout="row" class="slideshow">
		<div flex class="preview dark"></div>
		<div flex="5"></div>
		<div flex class="preview light"></div>
	</div>
	<div layout="column" layout-align="start center">
		<md-button>View Sample UI Pages</md-button>
		<p>Once you’ve selected your UI, you can select colors <u>here</u>.</p>
	</div>
</md-content>