<md-content class="md-padding section elements">
	<div flex="50" class="header">
		<h1>Elements</h1>
		<p>More experienced Chameleon editors can fine tune some of the following items. Some adjustments may affect stability and legibility, so please review your course thoroughly for any conflicts.</p>
	</div>
</md-content>

<md-content class="section">
	<div layout="row">
		<h3 flex>Link Colors <span>(advanced)</span></h3>
		<md-switch ng-model="show_link_colors"></md-switch>
	</div>
	<md-content ng-show="show_link_colors">
		<div class="group" layout="row">
			<div flex="50">
				<h4>Hyperlink Color</h4>
				<p flex="90"><i>Used in items such as:</i> Outbound links</p>
			</div>
			<div flex="50" layout="row" class="md-padding">
				<theme-color-picker
					picker-label="Hyperlink Color"
					picker-hex="primaryHex"
					picker-control="hue">
				</theme-color-picker>
				<div class="sample-box">
					<p class="item">Hyperlink Example</p>
					<p class="example">The quick brown for jumps over <a>thelazydog.com</a> while chased by the even quicker yellow cheetah.</p>
				</div>
			</div>
		</div>
		<div class="group" layout="row">
			<div flex="50">
				<h4>Glossary Term Color</h4>
				<p flex="90"><i>Used in items such as:</i> Words within body text that are in the course glossary.</p>
			</div>
			<div flex="50" layout="row" class="md-padding">
				<theme-color-picker
					picker-label="Glossary Term Color"
					picker-hex="primaryHex"
					picker-control="hue">
				</theme-color-picker>
				<div class="sample-box">
					<p class="item">Glossary Term Example</p>
					<p class="example">The quick brown for jumps over the lazy <a>kinkajou</a>while chased by the even quicker yellow cheetah.</p>
				</div>
			</div>
		</div>
	</md-content>
</md-content>

<md-content class="section">
	<div layout="row">
		<h3 flex>Button Color <span>(advanced)</span></h3>
		<md-switch ng-model="show_button_color"></md-switch>
	</div>
	<md-content ng-show="show_button_color">
		<div class="group" layout="row">
			<div flex="50">
				<h4>Default Buttons</h4>
				<p flex="90">When <strong>there is not</strong> a preferred or suggestion selection for the course’s end user.<br>
				These button styles are part of the framework and cannot be adjusted.</p>
			</div>
			<div flex="50" layout="row" class="md-padding">

			</div>
		</div>
		<div class="group" layout="row">
			<div flex="50">
				<h4>Action Button Color</h4>
				<p flex="90">When <strong>there is</strong> a preferred selection or actionable item for the course’s end user.<br>
				<i>Used in items such as:</i> Submit buttons in pages, submit buttons in quiz pages, pop-up modals, closing tip buttons, attestation pages.</p>
			</div>
			<div flex="50" layout="row" class="md-padding">
				<theme-color-picker
					picker-label="Action Button Color"
					picker-hex="primaryHex"
					picker-control="hue">
				</theme-color-picker>
				<div class="sample-box">
					<p class="item">Action Button Example</p>
					<p class="example"></p>
				</div>
			</div>
		</div>
	</md-content>
</md-content>

<md-content class="section">
	<div layout="row">
		<h3 flex>Text Color <span>(advanced)</span></h3>
		<md-switch ng-model="show_text_color"></md-switch>
	</div>
	<md-content ng-show="show_text_color">
		<div class="group">
			<div layout="row">
				<div flex="50">
					<p flex="90"><i>Used in items such as:</i> General content text, intro text, quiz intro text, quiz questions, content text in interactions, labels and most every place text is used.</p>
				</div>
				<div flex="50" layout="row" class="md-padding">
					<theme-color-picker
						picker-label="Text Color"
						picker-hex="primaryHex"
						picker-control="hue">
					</theme-color-picker>
					<div class="sample-box">
						<p class="item">Text Color Example</p>
						<p class="example">The quick brown for jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown for jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</p>
					</div>
				</div>
			</div>
			<div layout="row" layout-align="center center"><i>Sizing for text can be adjusted <a>here</a>. Spacing and additional styling can be adjusted <a>here</a>.</i></div>
		</div>
	</md-content>
</md-content>

<md-content class="section neutrals">
	<div layout="row">
		<h3 flex>Neutral Colors <span>(advanced)</span></h3>
		<md-switch ng-model="show_neutral_colors"></md-switch>
	</div>
	<md-content ng-show="show_neutral_colors">
		<div class="group" layout="row">
			<div flex="50">
				<p flex="90">These colors have been selected to have a large amount of contrast so text, buttons, tabs, accordions and interaction containers are clearly defined and legible. They are intentionally muted or subtle not to draw attention away from the course’s content.<br>
				<i>It’s strongly recommended these colors are adjusted only slightly, and retain a comparable quality...</i></p>
			</div>
			<div flex="50" layout="column" class="md-padding">
				<div layout="row">
					<theme-color-picker
						picker-label="Text Color"
						picker-hex="primaryHex"
						picker-control="hue">
					</theme-color-picker>
					<theme-color-picker
						picker-label="Text Color"
						picker-hex="primaryHex"
						picker-control="hue">
					</theme-color-picker>
				</div>
				<div layout="row">
					<theme-color-picker
						picker-label="Text Color"
						picker-hex="primaryHex"
						picker-control="hue">
					</theme-color-picker>
					<theme-color-picker
						picker-label="Text Color"
						picker-hex="primaryHex"
						picker-control="hue">
					</theme-color-picker>
				</div>
				<div layout="row">
					<theme-color-picker
						picker-label="Text Color"
						picker-hex="primaryHex"
						picker-control="hue">
					</theme-color-picker>
					<theme-color-picker
						picker-label="Text Color"
						picker-hex="primaryHex"
						picker-control="hue">
					</theme-color-picker>
				</div>
			</div>
		</div>
	</md-content>
</md-content>

<md-content class="section">
	<div layout="row">
		<h3 flex>Transparency</h3>
		<md-switch ng-model="show_transparency"></md-switch>
	</div>
	<md-content ng-show="show_transparency">
		<div class="group" layout="row">
			<div flex="50">
				<p flex="90">Affects coursewide transparency options, such as overlays, modals, opened menu items and the control bar.</p>
			</div>
			<md-switch ng-model="disableTransparency">Disable</md-switch>
		</div>
	</md-content>
</md-content>

<md-content class="section">
	<div layout="row">
		<h3 flex>Page Title Underline Color <span>(advanced)</span><span class="beta"></span></h3>
		<md-switch ng-model="show_underline_color"></md-switch>
	</div>
	<md-content ng-show="show_underline_color">
		<div class="group" layout="row">
			<div flex="50">
				<p flex="90">Affects the bar that underlines titles on content pages.</p>
			</div>
			<div flex="50" layout="row" class="md-padding">
				<theme-color-picker
					picker-label="Page Title Underline Color"
					picker-hex="primaryHex"
					picker-control="hue">
				</theme-color-picker>
				<div class="sample-box clean">
					<p class="item">Underline Example</p>
					<h2 class="underline">Lorem Ipsum Title</h2>
				</div>
			</div>
		</div>
	</md-content>
</md-content>