<md-content layout-margin class="md-padding color">
	<div flex="50" class="header">
		<h2>Brand Color</h2>
		<p>Select colors that will display throughout common course elements.</p>
	</div>
	<div layout="row" style="margin-bottom: 76px;">
		<div flex>
			<h2>Primary Brand Color</h2>
			<p>The color that plays a vital role in defining a brand. It may be used widely on marketing materials, but is used selectively in the course to balance the color and the content.</p>
			<p>Used in items such as:<br />Progress Indicator (percent complete), key elements of interactions.</p>
		</div>
		<div flex="40" flex-offset="10" layout="column">
			<theme-color-picker
				picker-label="Primary Brand Color"
				picker-hex="primaryHex"
				picker-control="hue">
			</theme-color-picker>
		</div>
	</div>
	<div layout="row">
		<div flex="50">
			<h2>Secondary Brand Color</h2>
			<p>A color that is meant to contrast, compliment or accent the Primary Brand Color. Some clients don't have a defined Secondary Color, or prefer to not use them in courses.</p>
			<p>In some brand guidelines, a Secondary Color can be used as a neutral color. The editor automatically creates lighter and darker tones based on the Secondary Color. You can adjust them by individually unlocking the tones.</p>
			<p>Used in items such as:<br />Progress Indicator (percent to be completed), Start Course buttons, Video Play, edge color of Navigation Bar, underline beneath page titles.</p>
		</div>
		<div flex="40" flex-offset="10" layout="column">
			<theme-color-picker
				picker-label="Secondary Brand Color"
				picker-hex="secondaryHex"
				picker-control="hue">
			</theme-color-picker>
		</div>
	</div>
	<div layout="row">
		<div flex="50"></div>
		<div flex="40" flex-offset="10" layout="row">
			<theme-color-picker
				picker-control="brightness"
				picker-hex="lighterTone"
				picker-label="Lighter Tone"
				secondary-hex="secondaryHex">
			</theme-color-picker>
			<theme-color-picker
				picker-control="brightness"
				picker-hex="darkerTone"
				picker-label="Darker Tone"
				secondary-hex="secondaryHex">
			</theme-color-picker>
		</div>
	</div>


</md-content>