<div class="type">
	<md-content layout-margin class="md-padding">
		<h2>Type</h2>
		<p>Select a preloaded typeface for your Headings and Body Text, or upload a custom font.</p>
	</md-content>

	<md-content layout="row" class="md-padding section">
		<md-content flex class="md-padding md-whiteframe-z1 gray-box" style="margin-right: 31px;">
			<p class="heading">Current Heading Typeface<span>bold style applies automatically</span></p>
			<div class="font-preview header" style="font-family: {{header_font}};">{{header_font}}</div>
			<select ng-model="header_font">
				<option ng-repeat="item in fonts" value="{{item}}" ng-selected="item == header_font">{{item}}</option>
			</select>
		</md-content>
		<md-content flex class="md-padding md-whiteframe-z1 gray-box">
			<p class="heading">Current Body Text Typeface<span>normal style applies automatically</span></p>
			<div class="font-preview body" style="font-family: {{body_font}};">{{body_font}}</div>
			<select ng-model="body_font">
				<option ng-repeat="item in fonts" value="{{item}}">{{item}}</option>
			</select>
		</md-content>
	</md-content>

	<md-content class="section">
		<div layout="row">
			<h3 flex>Load Custom Fonts <span>(advanced)</span></h3>
			<md-switch ng-model="show_custom_fonts"></md-switch>
		</div>
		<md-content ng-show="show_custom_fonts">
			<p flex="50" class="intro">Chameleon supports some third party services for licensed webfonts. Each vendor has a unique process for loading the font into Chameleon before they can be applied. You can use multiple vendors or use a single vendor for both fonts.</p>
			<div class="group">
				<div layout="row" class="google" layout-align="start center">
					<img height="41" alt="Google" src="//www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_116x41dp.png"><span style="margin: 0 20px 5px 0">Fonts</span><span class="sticker free">Free</span>
				</div>
				<p flex="50">A free and popular service by Google. You just need to select a font from the <a href="https://www.google.com/fonts">Google Font Library Website</a> and type in its name below.</p>
				<input type="text" placeholder="Enter Google Font Name"></input>
				<md-button class="gray">Add Font</md-button>
			</div>
			<div class="group">
				<div layout="row" class="typekit" layout-align="start center">
					<img height="59" src="https://s3.amazonaws.com/chameleonprod/core/images/typekit-logo.png">
					<span class="sticker free">Free</span>
					<span class="sticker pay">$</span>
				</div>
				<p flex="50">This is a third party subscription service provided by Adobe Systems. It's a complex and detailed process, and requires you to have an Adobe paid account or a Creative Cloud account. View <a href="https://helpx.adobe.com/typekit/using/add-fonts-website.html">Adobe Typekit Support</a>.</p>
				<input type="text" placeholder="Enter Adobe Typekit Key Code"></input>
				<md-button class="gray">Add Typekit</md-button>
			</div>
			<div class="group">
				<div layout="row" class="fontcom" layout-align="start center">
					<img height="45" src="https://s3.amazonaws.com/chameleonprod/core/images/f-d-c-logo.png">
					<span class="sticker free">Free</span>
					<span class="sticker pay">$</span>
				</div>
				<p flex="50">This is a third party subscription service provided by <a href="https://www.fonts.com/">Fonts.com</a>. It requires you to have a Fonts.com account to create a font key. View <a href="https://www.fonts.com/support/faq#about-web">Fonts.com’s Support Page</a>.</p>
				<input type="text" placeholder="Enter Fonts.com Key Code"></input>
				<md-button class="gray">Add Font Key</md-button>
			</div>
			<div class="group">
				<div layout="row">
					<h3 style="margin: 0">Other Custom Fonts</h3>
				</div>
				<p flex="50">If you have a custom font that's not supported by any of the above, the license and licensed font can be evaluated by our support team. </p>
				<md-button class="gray">Email Support Team</md-button>
			</div>
		</md-content>
	</md-content>

	<md-content class="section">
		<div layout="row">
			<h3 flex>Font Sizing <span>(advanced)</span></h3>
			<md-switch ng-model="show_font_sizing"></md-switch>
		</div>
		<md-content ng-show="show_font_sizing">
			<p flex="50" class="intro">A master control that affects all of the theme's text size. To make a global adjustment to all text, use this slider. <strong>View the results in the examples below.</strong></p>
			<p class="heading">Global Text Adjustment<span>default size is tested and a web standard for multiple devices</span></p>
			<md-slider-container layout="row" flex="60" flex-offset="20">
				<span class="small">A</span>
				<md-slider flex min="0" max="255" ng-model="master_font_size" aria-label="Master Font Size" id="font-slider"></md-slider>
				<span class="large">A</span>
			</md-slider-container>
			<md-content layout="row" class="sizing">
				<div flex class="example-container">
					<p class="item">Body Text</p>
					<p class="example"></p>
				</div>
				<div class="controls" layout="row">
					<md-button class="gray">-</md-button>
					<div class="size-display">
						<p>16</p>
						<span>px</span>
					</div>
					<md-button class="gray">+</md-button>

					<md-button flex class="gray clear">clear adjustment</md-button>
				</div>
			</md-content>
		</md-content>
	</md-content>

	<md-content class="section">
		<div layout="row">
			<h3 flex>Type Weights, Spacing and Styling <span>(advanced)</span></h3>
			<md-switch ng-model="show_font_styling"></md-switch>
		</div>
		<md-content ng-show="show_font_styling">
		</md-content>
	</md-content>
</div>