<md-dialog aria-label="Advance Stage" class="popup-modal">
	<md-button class="close md-icon-button material-icons" ng-click="cancel()">close</md-button>
	<div ng-if="state == 'locked'">
		<p>You are about to change course status to "Locked".</p>
		<p>All editors will be restricted from developing or editing content.</p>
	</div>
	<div ng-if="state == 'author'">
		<p ng-if="locked == 0">You are about to unlock the course to "Translate".</p>
		<p ng-if="locked != 0">You are about to change course status to "Translate".</p>
		<p>Developing and editing will be restricted to allow for translation editors to translate courses into other languages.</p>
	</div>
	<div ng-if="state == 'translate'">
		<p ng-if="locked == 0">You are about to unlock the course to "Author".</p>
		<p ng-if="locked != 0">You are about to change course status to "Author".</p>
		<p>You will have full development and editing capabilities. This will interrupt translation (if applicable).</p>
	</div>
	<div>
  	<md-button ng-click="answer(env)">Continue</md-button>
  	<md-button ng-click="cancel()">Cancel</md-button>
  </div>
</md-dialog>