<md-dialog aria-label="Copy Page" class="popup-modal">
	<h2 class="md-title modal-title-copy">Copy Page</h2>

	<div ng-switch on="state">
		<div ng-switch-when="prompt">
			<span>Choose a title for the new page:</span>
			<md-input-container style="width: 100%">
				<input ng-model="new_page_title" ng-keyup="newTitle(this)" />
			</md-input-container>
			<md-dialog-actions layout="row">
				<span flex></span>
				<md-button ng-click="cancel()">Cancel</md-button>
				<md-button ng-click="copy()" ng-disabled="disableCopy==true">Copy Page</md-button>
			</md-dialog-actions>
		</div>

		<div ng-switch-when="progress">
			<span>{{progressText}}</span>
			<md-progress-linear md-mode="determinate" value="{{progressPct}}"></md-progress-linear>
			<md-dialog-actions layout="row">
				<span flex></span>
				<md-button ng-click="cancel()">Cancel</md-button>
			</md-dialog-actions>
		</div>

		<div ng-switch-when="complete">
			<span>Copy complete!</span>
			<md-dialog-actions layout="row">
				<span flex></span>
				<md-button ng-click="done()">OK</md-button>
			</md-dialog-actions>
		</div>
	</div>
</md-dialog>