<md-dialog aria-label="Add Theme">
  <h2>{{addOrCopy}} Theme</h2>
		<div ng-show="state == 'prompt'" layout="column">
      <md-input-container>
        <label>Theme Name</label>
        <input ng-model="theme_name" required md-autofocus>
        <md-icon ng-show="validThemeName == true" class="material-icons">check</md-icon>
        <md-icon ng-if="validThemeName == false" class="material-icons">error_outline</md-icon>
      </md-input-container>
			<add-select ng-if="client_list" ng-model="theme.client_id" data-label="Copy to Client" select-list="client_list"></add-select>
      <div>*Name cannot contain special characters</div>
	    <md-dialog-actions layout="row">
	      <span flex></span>
	      <md-button ng-click="cancel()">Cancel</md-button>
	      <md-button ng-click="answer(theme_name)" ng-disabled="validThemeName == false" style="margin-right:20px;">{{addOrCopy}} Theme</md-button>
	    </md-dialog-actions>
		</div>

		<div ng-show="state == 'progress'">
			<span>{{progressText}}</span>
			<md-progress-linear md-mode="determinate" value="{{progressPct}}"></md-progress-linear>
			<md-dialog-actions layout="row">
				<span flex></span>
				<md-button ng-click="cancel()">Cancel</md-button>
			</md-dialog-actions>
		</div>
	</div>
</md-dialog>