<md-dialog aria-label="Export To PDF" class="popup-modal">
	<div>
		<p>Export Course to PDF: {{status.course.course_title}}</p>
		<p ng-if="!status.downloadUrl">{{status.message}}<p>
		<md-progress-linear ng-if="!status.downloadUrl" md-mode="determinate" value="{{status.progressPct}}"></md-progress-linear>
		<p ng-if="status.downloadUrl"><a href="{{status.downloadUrl}}" target="_blank">Click here</a> to open your PDF.</p>
	</div>
	<md-button ng-if="status.error || status.downloadUrl" ng-click="cancel()">CLOSE</md-button>
</md-dialog>