<md-dialog aria-label="Download Options">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Download Course</h2>
    	<span flex></span>
    	<md-button class="md-icon-button material-icons" ng-click="cancel()">close</md-button>
    </div>
	</md-toolbar>
	<md-list>
		<md-item layout="column">
			<div flex layout="row" layout-padding layout-align="start center">
				<div flex flex-order="1">
					<label>Stage:</label>
				</div>
				<md-button ng-disabled="stage_disabled" style="margin: 0 10px;" flex-order="2" class="md-raised md-accent" ng-href="{{stage_download}}"><i class="fa fa-download"></i> Download</md-button>
			</div>
			<md-divider></md-divider>
		</md-item>
		<md-item layout="column">
			<div flex layout="row" layout-padding layout-align="start center">
				<div flex flex-order="1">
					<label>Production:</label>
				</div>
				<md-button ng-disabled="prod_disabled" style="margin: 0 10px;" flex-order="2" class="md-raised md-accent" ng-href="{{prod_download}}"><i class="fa fa-download"></i> Download</md-button>
			</div>
		</md-item>
	</md-list>

</md-dialog>