<md-dialog aria-label="Hotspot" class="popup-hotspot" style="overflow:visible;">
	<md-content ng-if="error" class="md-padding">
		<label>Uh oh!</label>
		<p>{{errorMsg}}</p>
	</md-content>
	<div ng-if="!error" class="hotspotPickerGroup">
		<div flex layout-fill id="hotspotPreview">
			<img ng-click="getPosition($event)" ng-src="{{media}}" />
		</div>
		<div class="hotspot" style="left: {{ngModel['x_position']}}%; top: {{ngModel['y_position']}}%"></div>
	</div>
	<i ng-if="!error" style="text-align: center;">Click the image to position the hotspot</i>
	<md-button class="md-icon-button material-icons" ng-click="cancel()">close</md-button>
</md-dialog>