<md-toast class="maintenance-toast" layout-align="start start">
	<div layout="row" layout-align="start center" style="width: 100%;">
		<md-icon flex="10" class="material-icons">warning</md-icon>
		<div flex class="content" layout="column">
  		<p>{{title | uppercase}}</p>
  		<span>{{message}}</span>
  	</div>
		<md-button class="md-icon-button material-icons" ng-click="cancel()">close</md-button>
	</div>
</md-toast>