<md-dialog aria-label="Migrate Course" class="popup-modal">
	<md-button ng-if="!stageStatus.message" class="close md-icon-button material-icons" ng-click="cancel()">close</md-button>
	<div ng-if="!success">
		<div ng-if="!stageStatus.message">
			<div ng-if="env == 'stage'">
				<div ng-if="overwrite">
					<p>You are about to update this course's staging link.</p>
					<p>Your staging link will now reflect any new updates.</p>
				</div>
				<div ng-if="!overwrite">
					<p>You are about to migrate the course to "Stage".</p>
					<p>This will create a staging link, which is a stable review link.</p>
					<p>Any changes to the course after creating this link will need to be remigrated. (Changes made only by saving the course will not affect the staging link.)</p>
				</div>
			</div>
			<div ng-if="env == 'prod'">
				<div ng-if="overwrite">
					<p>You are about to update your published course.</p>
					<p>Edits such as adding and deleting topics or pages will interrupt any learners in progress. All learners in progress will need to have their course progress reset by an administrator.</p>
					<p>Also, a package only needs to be uploaded once to the LMS. If you have already uploaded the course package, the package will update automatically when you publish the content.</p>
				</div>
				<div ng-if="!overwrite">
					<p>You are about to migrate the course to create a final package.</p>
					<p>This will allow you to download the package for deployment to an
						LMS.</p>
				</div>
			</div>
			<div ng-if="resetWarning">
				<p ng-if="resetWarning == 'topic'" style="color:#d03434">Learners who are in progress and resume a session to this course will have their course progress reset to ensure they visit all new topics.</p>
				<p ng-if="resetWarning == 'page'" style="color:#d03434">Learners who are in progress and resume a session to this course will have topic(s) progress reset to ensure they visit all new pages.</p>
			</div>
			<div ng-if="!dataCheck">
				<p>Reviewing course data...<p>
				<md-progress-linear md-mode="indeterminate"></md-progress-linear>
			</div>
			<div ng-if="dataCheck">
			  <md-button ng-click="answer(env)">Continue</md-button>
			  <md-button ng-click="cancel()">Cancel</md-button>
			 </div>
		</div>
		<div ng-if="stageStatus.message">
			<p>{{stageStatus.message}}<p>
			<md-progress-linear md-mode="{{stageStatus.progressMode}}" value="{{stageStatus.progressPct}}"></md-progress-linear>
		</div>
	</div>
	<div ng-if="success">
		<textarea id="copy-content">{{preview_url}}</textarea>
		<p ng-if="env == 'stage'">Course successfully migrated to "Stage".</p>
		<p ng-if="env == 'prod'">Course successfully published.</p>
		<label>{{env | capitalize}} Link</label>
		<p>{{preview_url}}</p>
		<div md-theme="grey">
			<md-button class="md-raised md-primary md-hue-2" ng-href="{{preview_url}}" target="_blank">OPEN LINK</md-button>
			<md-button class="md-raised md-primary md-hue-2" ng-click="copyLink()">{{copy_text}}</md-button>
			<md-button class="md-raised md-primary md-hue-2" ng-href="{{download_url}}">DOWNLOAD</md-button>
		</div>
		<md-button ng-click="cancel()">CLOSE</md-button>
	</div>
</md-dialog>
