<md-dialog aria-label="Add/Edit Client" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button material-icons" ng-click="cancel()">close</md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-content class="md-dialog-content" layout="column">
        <md-input-container>
          <label>Client Name</label>
          <input ng-model="data.client_name" ng-keyup="nameCheck()" required>
          <md-icon ng-show="validClientName" class="material-icons">check</md-icon>
          <md-icon ng-if="!validClientName" class="material-icons">error_outline</md-icon>
        </md-input-container>
        <add-image image="data.background_image" path="" label="'Client Logo'"></add-image>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">Cancel</md-button>
      <md-button ng-click="answer(data)" style="margin-right:20px;" md-autofocus>Create Client</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>