<md-dialog aria-label="Curriculum Detail" ng-cloak>
  <form name="curriculumDetail">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button material-icons" ng-click="cancel()">close</md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container class="md-block">
          <label>Curriculum Name</label>
          <input ng-model="data.curriculum_name" required />
          <div ng-messages="curriculumDetail.curriculum_name.$error" ng-if="!showHints">
            <div ng-message="required">Curriculum Name is required.</div>
          </div>
        </md-input-container>
        <md-radio-group ng-model="data.curriculum_status">
          <md-radio-button value="1" class="md-primary">Active</md-radio-button>
          <md-radio-button value="0">Inactive</md-radio-button>
        </md-radio-group>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" md-autofocus>Cancel</md-button>
      <md-button ng-click="answer(data)" style="margin-right:20px;" ng-disabled="curriculumDetail.$invalid">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>