<md-dialog aria-label="Add/Copy Course" class="popup-modal">
	<md-button class="close md-icon-button material-icons" ng-click="cancel()">close</md-button>
	<ng-form name="newCourseForm" layout="column">
		<input type="hidden" name="version" ng-model="data.version" />
		<h2 style="color: #FFF;">{{title}}</h2>
		<md-input-container class="md-block">
			<label>Course Title</label>
			<input name="course_title" ng-model="data.course_title" required />
			<div ng-messages="newCourseForm.course_title.$error" ng-if="!showHints">
				<div ng-message="required">Course Title is required.</div>
			</div>
		</md-input-container>
		<add-text ng-model="data.module" data-label="Module Title"></add-text>
		<add-select ng-if="data.course_id" ng-model="data.client_id" data-label="Select a Client" select-list="client_list"></add-select>
		<p ng-if="!data.course_id">(You may change these titles later.)</p>
		<div layout="row">
			<md-button ng-click="cancel()" md-autofocus>Cancel</md-button>
			<md-button ng-click="answer(data)" style="margin-right:20px;" ng-disabled="newCourseForm.$invalid">Create Course</md-button>
		</div>
	</ng-form>
</md-dialog>