<md-dialog aria-label="Preview Options" class="popup-modal">
	<md-button class="close md-icon-button material-icons" ng-click="cancel()">close</md-button>
	<textarea id="copy-content">{{preview_url}}</textarea>
	<label>{{env | capitalize}} Link</label>
	<p>{{preview_url}}</p>
	<div md-theme="grey" class="controls">
		<md-button class="md-raised md-primary md-hue-2" ng-href="{{preview_url}}" target="_blank">open link</md-button>
		<md-button class="md-raised md-primary md-hue-2" ng-click="copyLink()">{{copy_text}}</md-button>
	</div>
	<p class="label">Scan to view in mobile</p>
	<div id="qrcode" layout="column"></div>
	<div class="footer">
		<md-button ng-click="cancel()">close</md-button>
	</div>
</md-dialog>