<md-dialog aria-label="Stock Image" class="material-default">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add an image from our stock content partners</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
	    <md-subheader class="md-primary">
			<div layout="row" layout-align="start center">
				<md-input-container flex class="md-margin">
					<label>Search Images</label>
					<md-icon class="material-icons" aria-label="search">search</md-icon>
					<input ng-model="searchTerm" aria-label="search" ng-model-options="{debounce: 1000}">
				</md-input-container>
				<md-radio-group ng-model="imageProvider" layout="row">
					<md-radio-button value="unsplash" >Unsplash</md-radio-button>
					<md-radio-button value="pixabay">Pixabay</md-radio-button>
				</md-radio-group>
			</div>
		</md-subheader>
		<div class="md-dialog-content md-padding"  ng-show="searching">
			<div layout="row" layout-sm="column" layout-align="space-around">
		      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
		      <div class="searchText">Searching {{imageProvider}} for images...</div>
		    </div>
		</div>
    	<div class="md-dialog-content md-padding" layout="row" layout-wrap ng-if="images.length > 1">
      		<md-card style="width: 31.5%;" ng-repeat="item in images">
				<md-card-header>
					<md-card-avatar>
						<a href="{{item.profileLink}}" target="_blank"><img src="{{item.avatarImage}}"/></a>
					</md-card-avatar>
					<md-card-header-text>
						<a href="{{item.profileLink}}" target="_blank"><span class="md-title">{{item.avatarHeader}}</span></a>
						<a href="{{item.providerLink}}" target="_blank"><span class="md-subhead">{{item.subHeader}}</span></a>
					</md-card-header-text>
				</md-card-header>

				<img ng-src="{{item.thumb}}" class="md-card-image">

				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-click='select(item.full)'>Use this image</md-button>
		        </md-card-actions>
			</md-card>
    	</div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>