<md-content layout="column" flex class="content-main md-whiteframe-z1">
	<md-toolbar class="md-hue-1" layout-padding layout-align="center start"><span layout-margin>Users</span></md-toolbar>
	<md-subheader class="md-primary">
		<div layout="row" layout-align="start center">
			<md-switch ng-model="user.data.user_status" ng-true-value="'1'" ng-false-value="'0'" aria-label="User Status" ng-change="user.updateStatus()">
		    {{user.status_name}}
		  </md-switch>
	    <div flex layout="row" layout-align="end center">
				<md-button type="submit" form="info" class="md-raised md-accent md-hue-3" ng-click="user.saveUserData()">Save</md-button>
				<md-button style="font-size: 14px;" class="md-primary md-raised" ng-href="#users">Back</md-button>
			</div>
    </div>
	</md-subheader>

	<md-content class="md-padding">

		<md-input-container>
      <label>Client</label>
      <md-select ng-model="user.data.client_id">
        <md-option ng-repeat="client in master_client_list" value="{{client.client_id}}">
          {{client.client_name}}
        </md-option>
      </md-select>
    </md-input-container>

		<md-input-container>
      <label>User Role</label>
      <md-select ng-model="user.data.role">
        <md-option ng-repeat="role in master_user_roles" value="{{role.role}}">
          {{role.role_title}}
        </md-option>
      </md-select>
    </md-input-container>

		<md-input-container>
		  <label>First Name</label>
		  <input ng-model="user.data.first_name">
		</md-input-container>

		<md-input-container>
		  <label>Last Name</label>
		  <input ng-model="user.data.last_name">
		</md-input-container>

		<md-input-container>
		  <label>Email Address</label>
		  <input ng-model="user.data.email">
		</md-input-container>

		<md-input-container>
		  <label>Reset Password</label>
		  <input type="password" ng-model="user.data.password">
		</md-input-container>

		<md-card ng-if="!permissions.permissions" class="gray md-padding">
			<md-card-content>
				<label>Permissions</label>
				<div ng-repeat="client in master_client_list">
					<md-checkbox ng-true-value="{{client.client_id}}" ng-false-value="''" aria-label="client.client_name" ng-click="user.toggleClient(client.client_id)" ng-checked="user.clientSelected(client.client_id)">
          	{{client.client_name}}
        	</md-checkbox>
        	<div style="margin-left: 16px;">
						<md-checkbox style="margin-top: 0;" ng-repeat="course in master_course_list" ng-if="course.client_id == client.client_id && !user.clientSelected(course.client_id)" ng-true-value="{{course.course_id}}" ng-false-value="''" aria-label="course.course_name" ng-click="user.toggleCourse(course.course_id)" ng-checked="user.courseSelected(course.course_id)">
	          	{{course.course_title}}
	        	</md-checkbox>
        	</div>
     		</div>
			</md-card-content>
		</md-card>
	</md-content>
</md-content>