<md-toolbar layout="row" layout-align="center center" class="header" ng-style="{'background-color': client.client_primary_color}">
  <div flex layout="row">
    <md-button class="md-accent" aria-label="toggle-menu" style="min-width: 50px;" ng-click="toggleMenu()" hide-gt-md><i class="fa fa-bars"></i></md-button>
    <div layout-padding layout-margin>Users</div>
  </div>
</md-toolbar>

<div id="main" flex layout="row" layout-wrap class="md-padding">
	<md-content layout="column" flex class="content-main md-whiteframe-z1">
		<md-subheader class="md-primary">
			<div layout="row" layout-align="start center">
				<div class="md-margin">
					<label>Search:</label>
					<input type="text" ng-model="q">
				</div>
				<md-radio-group ng-model="status_toggle" layout="row">
					<md-radio-button value="all">All Users</md-radio-button>
					<md-radio-button value="1">Active Users</md-radio-button>
					<md-radio-button value="0">Inactive Users</md-radio-button>
				</md-radio-group>
		    <div flex layout="row" layout-align="end center">
		    	<md-button class="md-raised md-primary" ng-href="#users/new">Add New User</md-button>
		    </div>
	    </div>
		</md-subheader>
		<md-content class="md-padding">
	    <table flex class="table table-hover table-bordered">
	      <thead>
	        <tr style="cursor: pointer;">
	          <th ng-click="this.predicate = 'first_name'; reverse = !reverse">Name</th>
						<th ng-click="this.predicate = 'email'; reverse = !reverse">Email</th>
						<th ng-click="this.predicate = 'role'; reverse = !reverse">Role</th>
	          <th ng-click="this.predicate = 'user_status'; reverse = !reverse" style="width:70px;">Status</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-if="user.user_status == status_toggle || status_toggle == 'all'" ng-repeat="user in users.data | orderBy:this.predicate:reverse | filter:q" ng-click="users.editUser(user.user_id)">
	          <td>{{user.first_name}} {{user.last_name}}</td>
						<td>{{user.email}}</td>
						<td>{{user.role}}</td>
						<td>{{user.user_status}}</td>
	        </tr>
	      </tbody>
	    </table>
		</md-content>
	</md-content>
</div>
