/*-------------------------------------------------------------
----- Mixins
-------------------------------------------------------------*/


/*-------------------------------------------------------------
----- Global
-------------------------------------------------------------*/
body, html {
  overflow-y: auto;
  overflow-x: hidden;
}
body,
html, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'PT Sans Narrow', sans-serif !important;
}
body {
  background-color: #f9f9f9;
}
h1.section-title {
  position: relative;
  display: inline;
}
h1.section-title:before {
  content: '';
  position: absolute;
}
h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 60px;
}
h3 {
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  color: #5a5a5a;
  border-bottom: 1px solid #5a5a5a;
  font-size: 24px;
}
p {
  font-size: 16px;
}
img {
  width: 100%;
}
a {
  font-size: 14px;
  color:#000;
}
a:hover {
  text-decoration: none;
}
.main-content {
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.page-container {
  text-align: center;
  margin: 0 auto;
}
.mobile-img {
  display: none;
}
.row {
  margin: 0;
}
.inner-container {
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1200px;
}
.body-copy {
  padding-top: 80px;
}
.page-prompt {
  position: absolute;
  width: 100%;
  bottom: 50px;
  left: 0;
  text-align: center;
  cursor: pointer;
}
.page-prompt a {
  color: #000;
  text-decoration: none;
}
.page-prompt a:hover,
.page-prompt a:focus,
.page-prompt a:visited {
  color: #000;
  text-decoration: none;
}
.page-prompt a i {
  font-size: 46px;
}
.page-prompt i {
  font-size: 28px;
}
.page-prompt p {
  font-size: 12px;
}
.btn {
  color: #fff;
  padding: 5px 40px;
  background: #000;
  background: -moz-linear-gradient(top, #565656 0%, #1e1e1f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565656), color-stop(100%, #1e1e1f));
  background: -webkit-linear-gradient(top, #565656 0%, #1e1e1f 100%);
  background: -o-linear-gradient(top, #565656 0%, #1e1e1f 100%);
  background: -ms-linear-gradient(top, #565656 0%, #1e1e1f 100%);
  background: linear-gradient(to bottom, #565656 0%, #1e1e1f 100%);
}
.btn:hover,
.btn:focus {
  outline: none;
  background-position: inherit;
  text-shadow: none;
}
.btn:hover {
  color: #bb9054;
}
.btn:visited,
.btn:focus {
  color: #fff;
}
.btn:active {
  color: #bb9054;
  text-shadow: none;
  background: #000;
  background: -moz-linear-gradient(top, #565656 0%, #1e1e1f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565656), color-stop(100%, #1e1e1f));
  background: -webkit-linear-gradient(top, #565656 0%, #1e1e1f 100%);
  background: -o-linear-gradient(top, #565656 0%, #1e1e1f 100%);
  background: -ms-linear-gradient(top, #565656 0%, #1e1e1f 100%);
  background: linear-gradient(to bottom, #565656 0%, #1e1e1f 100%);
}
.fixed {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  min-height: 760px;
}
.fixed-inner {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 100%;
}


/*-------------------------------------------------------------
----- Navigation
-------------------------------------------------------------*/
footer {
  position: fixed;
  width: 100%;
  z-index: 100;
  bottom: 0px;
  background: #545455;
}
.row.nav {
  background: #545455;
}
.row.nav ul {
  text-align: left;
  margin: 0;
  padding: 0;
}
.row.nav ul li {
  list-style-type: none;
  font-size: 14px;
  display: inline-block;
  margin-left: -5px;
  cursor: pointer;
}
.row.nav ul li:first-child {
  margin-left: 0;
}
.row.nav ul li.right-nav {
  float: right;
  color: #fff;
}
.row.nav > a {
  display: none;
}
.row.nav > ul {
  position: relative;
}
.row.nav > ul > li a {
  color: #fff;
  display: inline-block;
  padding: 10px 30px;
}
.row.nav > ul > li a:hover {
  color: #bb9054;
}
.row.nav > ul > li ul {
  display: none;
}
.row.nav > ul > li a.activated {
  color: #bb9054;
  background: #000;
}



/*-------------------------------------------------------------
----- Intro - Landing Page
-------------------------------------------------------------*/
/* IE Alert */
.main-content .denial-text.ie{
  background: #000;
  padding: 20px;
  color: #fff;
}
.main-content .denial-text.ie h1{
  font-size: 50px;
  margin-bottom: 15px;
}
.main-content .denial-text.ie h3{
  color: #fff;
  padding: 0;
  border: none;
}

.page.p0 {
  background-image: url(../../media/images/lan-A-bkgd01.jpg);
}
.page.p0 .header {
  padding-top: 10px;
}
.page.p0 .header .logo {
  width: 75px;
  float: left;
}
.page.p0 .header .logo img {
  width: 75px;
}
.page.p0 .header .login {
  float: right;
}
.page.p0 .intro-wrap .body-copy {
  padding: 0;
}
.page.p0 .intro-wrap .body-copy h1 span {
  color: #5a5a5a;
  font-weight: bold;
}
.page.p0 .intro-wrap .body-copy h3 {
  color: #000;
  border: none;
}
.page.p0 .page-prompt {
  bottom: 25px;
  position: relative;
  margin-top: 30px;
}


/*-------------------------------------------------------------
----- Vision - Landing Page
-------------------------------------------------------------*/
.page.p1 {
  background-image: url(../../media/images/lan-B-bkgd01.jpg);
  text-align: left;
  color: #fff;
}
.page.p1 .body-copy h1:before {
  background: url(../../media/images/lan-B-icon01.png) no-repeat;
  width: 55px;
  height: 55px;
  left: -70px;
  top: -10px;
  background-size:100%;
}
.page.p1 .page-prompt a {
  color: #fff;
}
.page.p1 .page-prompt a:hover,
.page.p1 .page-prompt a:focus,
.page.p1 .page-prompt a:visited {
  color: #fff;
}


/*-------------------------------------------------------------
----- Passion - Landing Page
-------------------------------------------------------------*/
.page.p2 {
  background-image: url(../../media/images/lan-A-bkgd01.jpg);
  padding-bottom: 25px;
}
.page.p2 .body-copy {
  margin-bottom: 20px;
}
.page.p2 .body-copy h1:before {
  background: url(../../media/images/lan-C-icon01.png) no-repeat;
  width: 55px;
  height: 55px;
  left: -70px;
  top: -10px;
  background-size:100%;
}
.page.p2 .page-prompt i {
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  padding: 0 15px;
  border-radius: 10px;
}


/*-------------------------------------------------------------
----- Technology (formally Science) - Landing Page
-------------------------------------------------------------*/
.page.p3 {
  background-image: url(../../media/images/lan-D-bkgd01.jpg);
}
.page.p3 .body-copy {
  margin-bottom: 20px;
}
.page.p3 .body-copy h1:before {
  background: url(../../media/images/lan-D-icon01.png) no-repeat;
  width: 55px;
  height: 55px;
  left: -60px;
  top: -10px;
  background-size: 100%;
}
.page.p3 .fixed-inner {
  bottom: 140px;
  left: 80px;
}


/*-------------------------------------------------------------
----- Global - Landing Page
-------------------------------------------------------------*/
.page.p6 {
  background-image: url(../../media/images/lan-G-bkgd01.png);
  text-align: left;
  color: #fff;
  background-position: center bottom;
}
.page.p6 .body-copy h1:before {
  background: url(../../media/images/lan-G-icon01.png) no-repeat;
  width: 55px;
  height: 55px;
  left: -60px;
  top: -10px;
  background-size: 100%;
}
.page.p6 .page-prompt a {
  color: #fff;
}
.page.p6 .page-prompt a:hover,
.page.p6 .page-prompt a:focus,
.page.p6 .page-prompt a:visited {
  color: #fff;
}


/*-------------------------------------------------------------
----- Results - Landing Page
-------------------------------------------------------------*/
.page.p4 {
  background-image: url(../../media/images/lan-E-bkgd01.jpg);
}
.page.p4 .body-copy {
  margin-bottom: 20px;
}
.page.p4 .body-copy h1:before {
  background: url(../../media/images/lan-E-icon01.png) no-repeat;
  width: 55px;
  height: 55px;
  left: -60px;
  top: -10px;
  background-size: 100%;
}
.page.p4 .fixed-inner {
  bottom: 105px;
}


/*-------------------------------------------------------------
----- Demos - Landing Page
-------------------------------------------------------------*/
.page.p5 {
  background-image: url(../../media/images/lan-F-bkgd01.jpg);
  color: #fff;
  height: auto;
}
.page.p5 .body-copy {
  margin-bottom: 20px;
}
.page.p5 .body-copy h1:before {
  background: url(../../media/images/lan-F-icon01.png) no-repeat;
  width: 55px;
  height: 55px;
  left: -70px;
  top: -10px;
  background-size: 100%;
}
.page.p5 .body-copy h3 {
  color: #bebebe;
}
.page.p5 .page-prompt {
  display: none;
}


/*-------------------------------------------------------------
----- Internal Page Global
-------------------------------------------------------------*/
.internal-page {
  background-color: #f9f9f9;
  margin: 0 auto;
}
.internal-page.fixed-internal {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 100px;
}
.internal-page .body-copy {
  padding-top: 30px;
}
.internal-page .body-copy .sub-nav{
  list-style-type: none;
  margin-bottom: 25px;
}
.internal-page .body-copy .sub-nav li{
  display: inline-block;
  padding-left: 20px;
}
.internal-page .body-copy .sub-nav li a{
  text-decoration: none;
}
.internal-page .body-copy .sub-nav li.active a{
  font-weight:bold;
}
.internal-page .body-copy h1 {
  text-align: left;
  display: block;
  margin-left: 60px;
}
.internal-page .body-copy h3,
.internal-page .body-copy h4,
.internal-page .body-copy p,
.internal-page .body-copy ul {
  text-align: left;
}
.internal-page .body-copy h4 {
  font-size: 30px;
}
.internal-page .body-copy h3 {
  color: #ee6424;
}
.internal-page .body-copy p {
  margin: 10px 0;
}
.internal-page .body-copy ul {
  font-size: 16px;
}
.internal-page .body-copy a {
  color: #333333;
  text-decoration: underline;
}
.internal-page .body-copy a:hover {
  text-decoration: none;
}
.internal-page .body-copy a:visited {
  color: #333333;
  text-decoration: underline;
}
.internal-page .samples {
  margin-top: 20px;
}
.internal-page .samples img {
  width: 100%;
  max-width: 55px;
}
.internal-page .samples p {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.internal-page .samples a.internal-sample {
  cursor: pointer;
  color: #000;
}
.internal-page .samples a.internal-sample:hover {
  color: #000;
}
.internal-page .samples a.internal-sample:visited {
  color: #000;
}
.internal-page .callOut {
  background: #000;
  color: #fff;
  padding: 10px;
}
.internal-page .callOut h4 {
  padding: 0 80px;
  font-size: 24px;
  text-align: left;
  font-weight: normal;
}
.internal-page .callOut p {
  text-align: right;
  padding: 0 100px;
  font-weight: normal;
  font-size: 16px;
}
.custom-modal h4 {
  font-size: 16px;
  text-align: left;
}
.custom-modal .modal-content {
  max-width: 600px;
  margin: 0 auto;
}
.custom-modal .modal-header {
  min-height: inherit;
  padding: 0;
  border: none;
}
.custom-modal .modal-header button.close {
  padding: 10px;
}
.custom-modal .modal-body label {
  display: none;
}
.custom-modal .modal-body button {
  font-size: 16px;
}
.custom-modal .modal-body input,
.custom-modal .modal-body textarea {
  width: 100%;
  font-size: 16px;
  margin: 5px 0;
  padding-left: 5px;
}
.custom-modal .modal-body .modal-footer {
  border: none;
  padding: 15px 0;
}
.custom-modal .modal-body .modal-footer h4 {
  margin: 0 0 15px 0;
}
.custom-modal .modal-body .modal-footer input {
  width: inherit;
  margin: 0;
  padding: 5px 40px;
  float: right;
  min-width: 122px;
}
.custom-modal .modal-body .modal-footer button {
  float: right;
  margin-right: 10px;
  min-width: 122px;
}


/*-------------------------------------------------------------
----- Internal Page Vision
-------------------------------------------------------------*/
.vision {
  height: inherit;
  min-height: 750px;
}
.vision .body-copy h1 {
  margin-left: 80px;
}
.vision .body-copy h1:before {
  background: url(../../media/images/vision-icon01.png) no-repeat;
  width: 55px;
  height: 55px;
  left: -65px;
  top: -10px;
  background-size: 100%;
}
.vision-icons {
  list-style: none;
  display:inline-block;
  margin: 10px auto 0;
}
.vision-icons li {
  float: left;
  margin-right: 35px;
}
.vision-icons li a,
.vision-icons li a:visited{
  text-decoration: none !important;
}
.vision-icons li a img{
  display: block;
  max-width: 55px;
  margin: 0 auto;
}
.vision-icons li a p{
  font-size: 14px;
  text-align: center !important;
}
/*.vision-icons .icon {
  background: url(../../img/icons.png) no-repeat;
  height: 73px;
  width: 50px;
}
.vision-icons .icon.brochure {
  background-position: -92px;
  width: 72px;
}
.vision-icons .icon.learning {
  background-position: -186px;
  width: 111px;
}*/


/*-------------------------------------------------------------
----- Internal Passion Pages
-------------------------------------------------------------*/
.internal-passion.fixed-internal {
  padding-bottom: 120px;
}
.internal-passion .body-copy h1:before {
  background: url(../../media/images/lan-C-icon01.png) no-repeat;
  width: 55px;
  height: 55px;
  left: -65px;
  top: -10px;
  background-size: 100%;
}


/*-------------------------------------------------------------
----- Internal Technology (formally Science) Pages
-------------------------------------------------------------*/
.internal-science.fixed-internal {
  padding-bottom: 120px;
}
.internal-science .body-copy h1:before {
  background: url(../../media/images/lan-D-icon01.png) no-repeat;
  width: 55px;
  height: 55px;
  left: -65px;
  top: -10px;
  background-size: 100%;
}
.internal-science .body-copy a,
.internal-science .body-copy a:visited{
  text-decoration: none;
}
.internal-science .body-copy p.label-title{
  padding:20px 0 10px 65px;
}
.internal-science .body-copy a img{
  max-width: 55px;
  width: 100%;
  float: left;
}


/*-------------------------------------------------------------
----- Internal Page Results
-------------------------------------------------------------*/
.results .body-copy h1:before {
  background: url(../../media/images/lan-E-icon01.png) no-repeat;
  width: 55px;
  height: 55px;
  left: -70px;
  top: -10px;
  background-size: 100%;
}
.results .samples .row {
  margin-bottom: 20px;
}
.results .samples p {
  margin: 0 0 0 30px;
}


/*-------------------------------------------------------------
----- Internal Page Demos
-------------------------------------------------------------*/
.demos {
  height: auto;
}
.demos .body-copy h1:before {
  background: url(../../media/images/demos-gfx01.png) no-repeat;
  width: 55px;
  height: 55px;
  left: -65px;
  top: -10px;
  background-size: 100%;
}
.demos .samples {
  margin-top: 40px;
}
.demos .samples .internal-sample img{
  width:100%;
  max-width:100px;
  margin-bottom:5px;
}


/*-------------------------------------------------------------
----- Internal Page Global Page
-------------------------------------------------------------*/
.internal-global {
  height: inherit;
  min-height: 750px;
}
.internal-global .body-copy h1 {
  margin-left: 45px;
}
.internal-global .body-copy h1:before {
  background: url(../../media/images/global-icon01.png) no-repeat;
  width: 55px;
  height: 55px;
  left: -55px;
  top: -10px;
  background-size: 100%;
}
.internal-global .body-copy ol{
  font-size: 16px;
  text-align: left;
}
.internal-global-copy {
  margin-left: 45px !important;
}
.internal-global-copy:before {
  background: url(../../media/images/global-icon01.png) no-repeat !important;
  width: 55px !important;
  height: 55px !important;
  left: -55px !important;
  top: -10px !important;
  background-size: 100% !important;
}
.internal-global .body-copy a,
.internal-global .body-copy a:visited{
  text-decoration: none;
}
.internal-global .body-copy p.label-title{
  padding:20px 0 10px 65px;
}
.internal-global .body-copy a img{
  max-width: 55px;
  width: 100%;
  float: left;
}


/*-------------------------------------------------------------
----- Media Queries
-------------------------------------------------------------*/
@media only screen and (max-width: 925px) {
  .row.nav ul li a {
    padding: 10px 15px;
  }
  .row.nav a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .page.p5 {
    background-position: 24% center;
  }
}
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 50px;
  }
  .inner-container {
    padding: 0 20px;
  }
  .page.fixed {
    min-height: 700px;
  }
  .page .fixed-inner {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  .page .body-copy {
    padding-top: 0px;
  }
  .mobile-img {
    display: block;
  }
  .page-prompt {
    position: relative;
    bottom: 0;
  }
  .btn {
    margin: 0 auto;
    display: block;
    max-width: 125px;
  }
  .page.p0 .header .logo {
    width: 100%;
    float: none;
    margin: 0 auto 20px auto;
  }
  .page.p0 .header .login {
    display: none;
  }
  .page.p0 .page-prompt {
    position: relative;
    bottom: inherit;
    left: inherit;
    margin-top: 50px;
    padding-bottom: 20px;
  }
  .page.p1 {
    background-image: none;
    background-color: #000;
  }
  .page.p1 .body-copy {
    text-align: center;
  }
  .page.p1 h1 {
    margin-left: 80px;
  }
  .page.p1 p {
    text-align: left;
  }
  .page.p1 .page-prompt {
    margin-top: 50px;
  }
  .page.p2 {
    padding-bottom: 0;
  }
  .page.p2 .body-copy {
    padding-top: 35px;
  }
  .page.p3 {
    background-image: none;
    background-color: #fff;
    margin-bottom: -60px;
  }
  .page.p3 .fixed-inner {
    bottom: auto;
    left: auto;
  }
  .page.p3 .body-copy {
    padding-top: 35px;
  }
  .page.p3 .page-prompt {
    bottom: 60px;
  }
  .page.p4 {
    background-image: none;
    background-color: #939192;
  }
  .page.p4 .fixed-inner {
    bottom: auto;
  }
  .page.p4 .body-copy {
    margin-bottom: 0;
    padding: 25px 0 35px 0;
  }
  .page.p5 {
    padding-bottom: 20px;
  }
  .page.p5 .body-copy {
    padding-top: 25px;
  }
  .page.p6 {
    background-image: none;
    background-color: #000;
  }
  .page.p6 .body-copy {
    text-align: center;
  }
  .page.p6 h1 {
    margin-left: 80px;
  }
  .page.p6 p {
    text-align: left;
  }
  .page.p6 .page-prompt {
    margin-top: 50px;
  }
  .internal-page.fixed-internal {
    padding-bottom: 0;
  }
  .internal-page .body-copy {
    padding-bottom: 50px;
  }
  .internal-page .callOut h4 {
    padding: 0 20px;
  }
  .internal-page .callOut p {
    padding: 0 20px;
  }
  .internal-page .samples {
    padding-bottom: 50px;
  }
  .results .body-copy {
    padding-bottom: 0;
  }
  .demos .body-copy {
    padding-bottom: 0;
  }
  /*body.open{
  		overflow:hidden;
  	}*/

  footer {
    bottom: 0px;
    left: 5px;
    width: 95%;
    overflow-y: auto;
  }
  .row.nav {
    border-bottom: 0;
  }
  .row.nav ul {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .row.nav ul li {
    list-style-type: none;
    font-size: 14px;
    display: block;
    padding: 10px 30px;
    margin-left: 0px;
  }
  .row.nav ul li.right-nav {
    display: none;
  }
  .row.nav > a {
    font-size: 16px;
    color: #fff;
    padding: 5px 10px;
  }
  .row.nav > a.nav-menu {
    display: block;
    position: relative;
    float: left;
    cursor: pointer;
  }
  .row.nav > a.nav-home {
    display: block;
    float: right;
  }
  .row.nav > ul {
    display: none;
    height: auto;
  }
  .row.nav > ul > li {
    display: block;
    margin: 0;
  }
  .row.nav > ul > li.activated a {
    color: #fff;
  }
  .row.nav > ul > li.activated ul {
    display: block;
    position: relative;
    width: inherit;
    background: none;
    bottom: inherit;
    left: inherit;
    z-index: inherit;
  }
  .row.nav > ul > li.activated ul li {
    display: block;
  }
  .row.nav > ul > li.activated ul li a {
    color: #fff;
  }
  .row.nav > ul > li.activated ul li a:hover {
    color: #bb9054;
  }
  .row.nav > ul > li.nav-prog {
    background: none;
  }
  .row.nav > ul > li.active a {
    color: #bb9054;
  }
  .row.nav > ul > li.active ul {
    position: relative;
    width: inherit;
    background: none;
    bottom: inherit;
    left: inherit;
    z-index: inherit;
  }
  .row.nav > ul > li.active ul li {
    display: block;
  }
  .row.nav > ul > li.active ul a {
    color: #fff;
  }
  .row.nav > ul > li.active ul a:hover {
    color: #bb9054;
  }
}
@media only screen and (min-width: 750px) and (max-width: 767px) {
  .page.p4 .fixed-inner {
    left: 0;
  }
}
@media only screen and (max-width: 749px) {
  .btn {
    max-width: 100%;
  }
}