<md-dialog aria-label="Confirm Delete">
	<md-toolbar class="md-sticky-no-effect md-hue-2">
		<h3 class="md-toolbar-tools">Confirm Delete</h3>
	</md-toolbar>

	<md-content layout="row" layout-padding layout-margin>
		<md-button flex class="md-raised" ng-click="answer(false)">Cancel</md-button>
		<md-button flex class="md-raised md-accent md-hue-3" ng-click="answer(true)" class="md-primary">Delete</md-button>
	</md-content>

</md-dialog>