<md-dialog aria-label="Notes" ng-init="editNotes=false" style="width:780px;">
	<md-toolbar class="md-sticky-no-effect md-hue-2">
		<h3 class="md-toolbar-tools">Notes:</h3>
	</md-toolbar>

	<md-content layout="column" layout-padding layout-margin>
		<div ng-show="!editNotes" ng-bind-html="course.course_notes"></div>

		<div ng-show="editNotes">
			<my-text-area ng-model="course.course_notes" my-label="''"></my-text-area>
		</div>

		<div layout="row" layout-align="end">
			<md-button class="md-raised md-primary" ng-click="cancel()">Close</md-button>
			<md-button class="md-raised md-primary" ng-click="editNotes = !editNotes" ng-bind="(editNotes ? 'Finish Edit' : 'Edit')">Edit</md-button>
			<md-button ng-show="!editNotes" class="md-raised md-primary" ng-click="answer(course)">Save</md-button>
		</div>
	</md-content>

</md-dialog>