<md-content layout="column" flex class="content-main md-whiteframe-z1">
	<md-toolbar class="md-hue-1" layout-padding layout-align="center start"><span layout-margin>Profile</span></md-toolbar>
	<md-subheader class="md-primary">
		<div layout="row" layout-align="end center">
			<md-button type="submit" form="info" class="md-raised md-accent md-hue-3" ng-click="profile.saveData()">Save</md-button>
			<md-button ng-if="profile.previousUrl" style="font-size: 14px;" class="md-primary md-raised" ng-href="{{profile.previousUrl}}">Back</md-button>
    </div>
	</md-subheader>
	<form novalidate>
		<md-content layout="row" layout-padding>
			<div flex>
				<md-input-container>
				  <label>Username</label>
				  <input ng-model="profile.data.username">
				</md-input-container>

				<md-input-container>
				  <label>First Name</label>
				  <input ng-model="profile.data.first_name">
				</md-input-container>

				<md-input-container>
				  <label>Last Name</label>
				  <input ng-model="profile.data.last_name">
				</md-input-container>

				<md-input-container>
				  <label>Email Address</label>
				  <input ng-model="profile.data.email">
				</md-input-container>
			</div>

			<div flex>
				<md-input-container>
				  <label>Current Password</label>
				  <input ng-model="profile.secure.password">
				</md-input-container>

				<md-input-container>
				  <label>New Password</label>
				  <input ng-model="profile.secure.newpassword">
				</md-input-container>

				<md-input-container>
				  <label>Confirm New Password</label>
				  <input ng-model="profile.secure.newpasswordconfirm">
				</md-input-container>
			</div>
		</md-content>
	</form>
</md-content>