<div>
	<md-radio-group ng-model="ngModel" class="md-primary" layout="row">
		<md-radio-button ng-repeat="item in radioList" ng-value="item.key" ng-disabled="item.disabled">{{item.name}}</md-radio-button>
	</md-radio-group>
</div>