<md-input-container>
	<label>{{label}}</label>
	<md-select ng-model="ngModel" multiple="true" md-selected-text="isMultiple()" ng-disabled="disabled">
	  <md-option ng-repeat="item in newSelect" value="{{item.key}}">{{item.name}}</md-option>
	</md-select>
</md-input-container>