<div style="position:relative">
	<md-input-container style="width:100%;" ng-if="!expand">
		<label ng-if="!hideLabel">{{label}}</label>
		<input type="text" ng-model="$parent.ngModel" aria-label="{{label}}" ng-disabled="disabled" />
	</md-input-container>
	<md-input-container style="width:100%;" ng-if="expand">
		<label ng-if="!hideLabel">{{label}}</label>
		<textarea ng-model="$parent.ngModel" columns="1" aria-label="{{label}}" ng-disabled="disabled"></textarea>
	</md-input-container>
</div>
