<div flex layout="column" style="overflow: hidden">
	<md-input-container class="minicolor-cont" ng-class="!editable==true ? 'disabled' : ''">
	  <label ng-if="!hideLabel" style="margin-left: 40px;">{{label}}</label>
	  <input minicolors="pickerSettings" ng-model="ngModel" aria-label="{{label}}" ng-disabled="!editable" style="width:calc(100% - 40px);">
	</md-input-container>
</div>
