<md-content class="md-padding">
  <my-text my-label="\'Topic Title\'" ng-model="item.title"></my-text>
  <add-image ng-model="item.image" data-label="Topic Image"></add-image>
  <my-text-area my-label="\'Topic Description\'" ng-model="item.description"></my-text-area>
</md-content>