<div>
	<div ui-sortable="tn.topicOptions" ng-model="tn.topic" class="topic-list list">
		<div ng-repeat="topic in tn.topic" class="topic-group group" data-uuid="{{topic.uuid}}">
			<div layout="row" layout-align="start center" class="topic-item item" ng-class="{'active': tn.topicActive($index)}" ng-mousedown="tn.preSort(true)" ng-mouseup="tn.preSort()">
				<div class="handle" aria-label="Drag to Sort">
					<md-tooltip md-direction="top" md-delay="1000" md-autohide="true">Drag to Sort</md-tooltip>
					<md-icon class="material-icon">more_vert</md-icon>
				</div>
				<span class="index">{{$index+1}}</span>
				<md-button aria-label="Show/Hide Pages" ng-click="tn.toggleTopics($index)" class="topic-toggle toggle-{{$index}} closed" md-no-ink>
					<md-tooltip md-direction="top" md-delay="2000" md-autohide="true">Show/Hide Pages</md-tooltip>
					<md-icon class="material-icon md-margin">arrow_drop_down</md-icon>
				</md-button>
				<span flex class="list-title" title="{{topic.title}}" ng-click="tn.editPage($index)">{{(topic.title || "Topic Title")}}</span>
				<remove-buttons ng-model="tn.topic" index="$index"></remove-buttons>
			</div>
			<div ui-sortable="tn.pageOptions" ng-model="topic.page" class="page-list list topic-{{$index}}">
				<div ng-repeat="page in topic.page" class="page-group group">
					<div layout="row" layout-align="start center" class="page-item item" ng-class="{'active': tn.pageActive($index, $parent.$index)}">
						<div class="handle" aria-label="Drag to Sort">
							<md-tooltip md-direction="top" md-delay="1000" md-autohide="true">Drag to Sort</md-tooltip>
							<md-icon class="material-icon">more_vert</md-icon>
						</div>
						<span class="index">{{$index+1}}</span>
						<span flex class="list-title" title="{{page.title}}" ng-click="tn.editPage($index, $parent.$index)">{{(page.title || "Page Title")}}</span>
						<md-button aria-label="Copy Page" ng-click="tn.copyPage(topic, page)">
							<md-tooltip md-direction="top" md-delay="1000" md-autohide="true">Copy Page</md-tooltip>
							<md-icon class="material-icon">add</md-icon>
						</md-button>
						<remove-buttons ng-model="topic.page" index="$index"></remove-buttons>
					</div>
				</div>
				<div class="page-item item add"><md-button ng-click="tn.addPage(topic)">Add Page</button></div>
			</div>
		</div>
	</div>
	<div class="topic-item item add"><md-button ng-click="tn.addTopic()">Add Topic</button></div>
</div>