<md-content class="md-padding" layout="column">
	<add-text ng-model="item.title" data-label="Topic Title"></add-text>
	<add-media-controls
		expand-all="true"
		disable-decorations="true"
		existing-media-item-list="item.media"
		template-settings="{media: {limit: 1, items: [{label: 'Topic Image', type: 'image'}]}}"
		misc-options = '{hideCaption: true}'
	></add-media-controls>
  <add-textarea ng-model="item.description" data-label="Topic Description"></add-textarea>
</md-content>
