<div class="preview-content video">
	<div layout="column" ng-show="!disableFields && !uploadStatus[0].state" class="media-buttons md-whiteframe-z1">
		<button ng-show="!miscOptions.hidePosterImageUpload" class="md-button material-icons add" trigger-upload="uploadFile($file, 'media.image[0]', {classification: 'images'})">image</button>
		<md-button ng-show="!miscOptions.hidePosterImageUpload && media.image[0] && !translation" ng-click="removeImage(0)" class="material-icons delete">delete</md-button>
		<span class="divider"></span>
		<button class="md-button material-icons add" trigger-upload="uploadFile($file, 'media.video', {classification: 'video', hls:{{(miscOptions.hls || media.hls) ? true : false}}, audioTrack:{{(media.audioTrack!=null) ? media.audioTrack : true}} })">videocam</button>
		<md-button ng-show="media.video && !translation" ng-click="media.video = ''" class="material-icons delete">delete</md-button>
		<span class="divider"></span>
		<button class="md-button material-icons download" ng-show="(miscOptions.audioTrack==null || media.audioTrack) && media.video" trigger-upload="uploadFile($file, 'media.subtitle', {classification: 'caption'})">closed_caption</button>
		<md-button ng-show="media.subtitle && !translation" ng-click="media.subtitle = ''" class="material-icons delete">delete</md-button>
	</div>
	<div class="upload-progress" ng-show="uploadStatus[0].state">
		<md-progress-circular ng-show="uploadStatus[0].state == 'uploading'" md-mode="determinate" value="{{uploadStatus[0].percent}}"></md-progress-circular>
		<md-progress-circular ng-show="uploadStatus[0].state == 'finalizing'" md-mode="indeterminate"></md-progress-circular>
		<div ng-show="uploadStatus[0].text">{{uploadStatus[0].text}}</div>
	</div>
	<div class="hls-badge" ng-show="media.hls">HLS Video</div>
</div>
<md-switch ng-if="!miscOptions.hidePopupToggle" ng-disabled="!editable" ng-model="media.popup" aria-label="Popup">Enable playback in modal popup</md-switch>
<add-text ng-if="!miscOptions.hideCaption"
	label="Caption"
	ng-model="media.caption"
	disabled="{{!editable}}"
></add-text>
