<div class="preview-content">
	<div layout="row">
		<img ng-repeat="assetTypeId in embedAssetTypeOrder"
			class="embedIcon"
			ng-class="{disabled: embedAssetTypes[assetTypeId].disabled}"
			src="{{embedRoot}}images/logo-{{assetTypeId}}.png"
		/>
	</div>
	<add-text
		label="Resource URL"
		ng-model="media.embed.url"
		disabled="{{!editable}}"
		style="width:100%"
	></add-text>
	<md-switch ng-disabled="!editable" ng-model="media.embed.autoplay" aria-label="Autoplay">Autoplay</md-switch>
</div>
<add-text ng-if="!miscOptions.hideCaption"
	label="Caption"
	ng-model="media.caption"
	disabled="{{!editable}}"
></add-text>
