<div class="preview-content before_after">
	<div ng-repeat="i in [0,1]" layout="column" ng-class="{right: i == 1}"
		style="z-index: 20; top: 2em"
		class="media-buttons md-whiteframe-z1"
		ng-show="!uploadStatus[i].state && editable" flex="50" adobe-image-editor>
		<img style="display: none;" ng-src="{{getMediaUrl('image', media.image[i])}}" id="{{media.id}}"></img>
		<button class="md-button material-icons add" trigger-upload="uploadFile($file, 'media.image[{{i}}]', {classification: 'images', assetPosition: i})">image</button>
		<md-button ng-show="media.image[i] && !translation" ng-click="removeImage(i)" class="material-icons delete">delete</md-button>
		<md-button ng-show="media.image[i]" adobe-image-editor-trigger class="material-icons edit">mode_edit</md-button>
	</div>
	<div ng-repeat="i in [0,1]" layout="column">
		<div class="upload-progress" ng-show="uploadStatus[i].state">
			<md-progress-circular ng-show="uploadStatus[i].state == 'uploading'" md-mode="determinate" value="{{uploadStatus[i].percent}}" style="z-index:20;"></md-progress-circular>
			<md-progress-circular ng-show="uploadStatus[i].state == 'finalizing'" md-mode="indeterminate" style="z-index:20;"></md-progress-circular>
			<div ng-show="uploadStatus[i].text">{{uploadStatus[i].text}}</div>
		</div>
	</div>
</div>
<add-text ng-if="!miscOptions.hideCaption"
	label="Caption"
	ng-model="media.caption"
	disabled="{{!editable}}"
></add-text>
