<div class="preview-content">
	<div>
		<iframe ng-if="media.folder" style="width: 100%; height: 300px; border: none;" scrolling="no" ng-init="loadAdobeEdgePreview(media.folder)"></iframe>
		<i ng-if="media.folder">Not actual size. Animation has been scaled for preview.</i>
		<img ng-if="!media.folder" style="width: 100%;" ng-src="{{placeholder_image}}"></img>
	</div>
	<div layout="column" class="media-buttons md-whiteframe-z1" ng-show="!uploadStatus[0].state && editable">
		<button class="md-button material-icons add" trigger-upload="uploadFile($file, 'media.folder', {classification: 'adobe-edge', removeExtension: 1})">image</button>
		<md-button ng-if="media.folder && !translation" ng-click="removeObjectItem(media, 'folder')" class="material-icons delete">delete</md-button>
	</div>
	<div class="upload-progress" ng-show="uploadStatus[0].state">
		<md-progress-circular ng-show="uploadStatus[0].state == 'uploading'" md-mode="determinate" value="{{uploadStatus[0].percent}}"></md-progress-circular>
		<md-progress-circular ng-show="uploadStatus[0].state == 'finalizing'" md-mode="indeterminate"></md-progress-circular>
		<div ng-show="uploadStatus[0].text">{{uploadStatus[0].text}}</div>
	</div>
</div>
<md-input-container class="entry-edge">
    <label>Animation Stage Width (px)</label>
    <input ng-model="media.stageWidth" type="number" min="0" ng-disabled="disableFields">
</md-input-container>
<md-input-container class="entry-edge">
    <label>Animation Stage Height (px)</label>
    <input ng-model="media.stageHeight" type="number" min="0" ng-disabled="disableFields">
</md-input-container>
<add-text class="entry-edge" ng-if="!miscOptions.hideCaption"
	label="Caption"
	ng-model="media.caption"
	disabled="{{!editable}}"
></add-text>
