<div>
  <md-input-container>
    <label>Chart Style</label>
    <md-select ng-model="media.chartStyle" ng-hide="noTranslate">
      <md-option ng-repeat="style in style_list" value="{{style}}">
        {{style | capitalize}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Chart Data</label>
    <textarea ng-model="media.chartData" rows="5" md-select-on-focus ng-disabled="disableFields"></textarea>
  </md-input-container>

  <md-input-container>
    <label>Caption</label>
    <input ng-model="media.caption" ng-disabled="disableFields">
  </md-input-container>

  <md-switch ng-model="media.chartLegend" aria-label="Show Legend" ng-disabled="disableFields">
    Show Legend
  </md-switch>
</div>
