<div class="preview-content" adobe-image-editor>
	<div class="upload-progress" ng-show="uploadStatus[0].state">
		<md-progress-circular ng-show="uploadStatus[0].state == 'uploading'" md-mode="determinate" value="{{uploadStatus[0].percent}}"></md-progress-circular>
		<md-progress-circular ng-show="uploadStatus[0].state == 'finalizing'" md-mode="indeterminate"></md-progress-circular>
		<div ng-show="uploadStatus[0].text">{{uploadStatus[0].text}}</div>
	</div>
	<img ng-show="media.image[0]" style="width: 100%;" ng-src="{{getMediaUrl('image', media.image[0])}}" id="{{media.id}}"></img>
	<div ng-show="!media.image[0]" class="add-options" layout="row" layout-xs="column" layout-align="center center">
	  <div flex ng-hide="uploadStatus[0].state">
	    <md-button class="md-button add" trigger-upload="uploadFile($file, 'media.image[0]', {classification: 'images'})">
			<md-icon>add_a_photo</md-icon>
			<div class="md-grid-text">Upload Image</div>
		</md-button>
	  </div>
	  <add-stock-image class="flex" ng-hide="uploadStatus[0].state"></add-stock-image>
	</div>
	<div class="media-options" ng-show="editable">
		<md-toolbar class="md-hue-2">
      		<div class="md-toolbar-tools">
				<md-button ng-show="media.image[0]" adobe-image-editor-trigger class="edit">
					<md-icon>brush</md-icon><span> Edit Image</span>
				</md-button>
				<md-button ng-show="media.image[0] && !translation" ng-click="removeImage(0)" class="delete">
					<md-icon>delete</md-icon><span>  Delete</span></div>
				</md-button>
			</div>      
	      </md-toolbar>
	</div>
</div>
<md-switch ng-if="editable" class="switch-minw" ng-model="media.optimize">Image uploads <span ng-if="!media.optimize">not</span> compressed by <img height="20px" ng-src="{{embedRoot}}images/logo-kraken.png"></md-switch>
<add-text ng-if="!miscOptions.hideCaption"
	label="Caption"
	ng-model="media.caption"
	disabled="{{!editable}}"
></add-text>
