<div layout="row" layout-margin style="align-items:flex-start">
	<div ng-repeat="i in [0,1]" class="preview-content" flex="35" adobe-image-editor>
		<img width="100%" ng-src="{{getMediaUrl('image', media.image[i])}}">
		<div ng-show="!disableFields && !uploadStatus[i].state && editable" layout="column" class="media-buttons md-whiteframe-z1">
			<button class="md-button material-icons add" trigger-upload="uploadFile($file, 'media.image[{{i}}]', {classification: 'images', assetPosition: i})">image</button>
			<md-button ng-show="media.image[i] && !translation" ng-click="removeImage(i)" class="material-icons delete">delete</md-button>
			<md-button ng-show="media.image[i]" adobe-image-editor-trigger class="material-icons edit">mode_edit</md-button>
		</div>
		<div class="upload-progress" ng-show="uploadStatus[i].state">
			<md-progress-circular ng-show="uploadStatus[i].state == 'uploading'" md-mode="determinate" value="{{uploadStatus[i].percent}}"></md-progress-circular>
			<md-progress-circular ng-show="uploadStatus[i].state == 'finalizing'" md-mode="indeterminate"></md-progress-circular>
			<div ng-show="uploadStatus[i].text">{{uploadStatus[i].text}}</div>
		</div>
	</div>
</div>
<add-text ng-if="!miscOptions.hideCaption"
	label="Caption"
	ng-model="media.caption"
	disabled="{{!editable}}"
></add-text>
