<div style="position: relative; min-height:76px;" layout="row" layout-wrap>

	<md-content flex="20" style="margin-right: 1em; overflow: hidden;" class="slideshow-entry" ng-repeat="(key, value) in media.image track by key" adobe-image-editor layout="column">
		<add-text ng-model="media.image[$index].title" label="Title" disabled="{{!editable}}"></add-text>
		<md-content>
			<img ng-class="{uploadshade: uploadStatus[$index].state}" style="width: 100%;" ng-src="{{getMediaUrl('image', media.image[$index].src)}}" id="{{media.id}}"></img>
			<div layout="column" class="media-buttons md-whiteframe-z1" ng-show="!uploadStatus[$index].state && editable">
				<button class="md-button material-icons add"  trigger-upload="uploadFile($file, 'media.image[{{$index}}].src', {classification: 'images', assetPosition: $index})">image</button>
				<md-button ng-show="media.image[$index].src && !translation" ng-click="removeImage($index)" class="material-icons delete">delete</md-button>
				<md-button ng-show="media.image[$index].src" adobe-image-editor-trigger class="material-icons edit">mode_edit</md-button>
				<md-button ng-show="!translation" ng-click="removeSlide($index)" class="material-icons delete">remove</md-button>
			</div>
			<div class="upload-progress" ng-show="uploadStatus[$index].state">
				<md-progress-circular ng-show="uploadStatus[$index].state == 'uploading'" md-mode="determinate" value="{{uploadStatus[$index].percent}}"></md-progress-circular>
				<md-progress-circular ng-show="uploadStatus[$index].state == 'finalizing'" md-mode="indeterminate"></md-progress-circular>
				<div ng-show="uploadStatus[$index].text">{{uploadStatus[$index].text}}</div>
			</div>
		</md-content>
		<add-text ng-if="!miscOptions.hideCaption"
			label="Caption"
			ng-model="media.image[$index].caption"
			disabled="{{!editable}}"
		></add-text>
	</md-content>
	<md-content ng-if="!disableFields && !translation" layout="column" class="media-buttons" style="position:relative;">
		<md-button ng-click="addSlide()" class="material-icons add">add</md-button>
	</md-content>
</div>