<div class="preview-content audio">
	<md-content ng-if="!disableFields && !uploadStatus[0].state" layout="column" class="media-buttons md-whiteframe-z1">
		<button ng-show="!miscOptions.hidePosterImageUpload" class="md-button material-icons add" trigger-upload="uploadFile($file, 'media.image[0]', {classification: 'images'})">image</button>
		<md-button ng-show="!miscOptions.hidePosterImageUpload && media.image[0] && !translation" ng-click="removeImage(0)" class="material-icons delete">delete</md-button>
		<span class="divider"></span>
		<button class="md-button material-icons add" trigger-upload="uploadFile($file, 'media.audio', {classification: 'audio'})">audiotrack</button>
		<md-button ng-show="media.audio && !translation" ng-click="media.audio = ''" class="material-icons delete">delete</md-button>
	</md-content>
	<div class="upload-progress" ng-show="uploadStatus[0].state">
		<md-progress-circular ng-show="uploadStatus[0].state == 'uploading'" md-mode="determinate" value="{{uploadStatus[0].text}}"></md-progress-circular>
		<md-progress-circular ng-show="uploadStatus[0].state == 'finalizing'" md-mode="indeterminate"></md-progress-circular>
		<div ng-show="uploadStatus[0].text">{{uploadStatus[0].text}}</div>
	</div>
</div>
<md-switch ng-if="!miscOptions.hidePopupToggle" ng-disabled="!editable" ng-model="media.popup" aria-label="Popup">Popup</md-switch>
<add-text ng-if="!miscOptions.hideCaption"
	label="Caption"
	ng-model="media.caption"
	disabled="{{!editable}}"
></add-text>
