#modal.zoom {
    max-width: 90%;
    max-height: 90%;
}

#modal.zoom img {
  max-width: 100%;
  max-height: 100%;
}

.owl-theme .owl-controls .owl-buttons div {
    background: none repeat scroll 0 0 #008cd2;
    opacity: 0.9;
}
h1.page-title {
font-family: Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
font-weight: bold;
margin: 0;
padding-bottom: 10px;
border-bottom: 1px solid #b1d7ef;
}

#topic.t-5 .page.p0 .page-prompt .interaction-prompt{
  visibility: hidden;
  display: none;
  height: 0px;
  width: 0px;
  padding: 0px;
  background-color: #fff;
  overflow: hidden;
}

.question-container{
  border-top: none;
}

.ct-slideshow .slideshow-text {
    background-color: #147abf;
    opacity: 1;
}

.owl-theme .owl-controls .owl-buttons div {
    background: none repeat scroll 0px 0px #c3c7cb;
    opacity: 0.9;
}

.owl-theme .owl-controls .owl-buttons div {
    color: #1e2021;
}

.panel-tabs>li>a {
	font-weight:bold;
}

.media-frame .owl-carousel .owl-controls .owl-page span {
	background: #666;
	opacity: .7;
}

#home-hero .summary-outer .summary-inner .course-summary {
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.4);
}

#home-hero .summary-outer .summary-inner {
    left: 0%;
	width: 45%;
}

#home-hero .summary-outer .summary-inner .course-summary {
    background: none;
	color: #FFF;
}

.menu-btn {
    background-color: #0582df;
}

ul.menu li .glyphicon, ul.menu li .fa {
    color: #0582df;
}

.view-options a:hover, .view-options a.view-selected {
    color: #0582df;
}

.view-options {
    border-bottom: 3px solid #0582df;
}

.topic-title {
    color: #0582df;
}


.btn-primary {
    background-color: #01adff;
    border-color: #017AB7;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{
	background-color:#30bcff;
	border-color:#017ab7
}

a {
    color: #0582df;
}

a:hover, a:focus {
    color: #0e428e;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #0582df;
    border-color: #0582df;
}

.row.mosaic .item:hover .caption {
    background-color: rgba(1, 173, 255, 0.6);
}

.feedback-container .feedback-header {
    background: none repeat scroll 0% 0% #01adff;
}

.click-marker {
    color: #0582df;
}